.auth-main {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    min-width: 300px;    
    max-width: 330px;
}

.auth-content {
    // display: flex;
    flex-direction: column;
}

.button {
    font-size: 15px;
    font-weight:400;
    padding: 3px 20px 3px 20px;
    min-width:160px;
    border-radius:3px; 
}