.auth-main {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    min-width: 300px;    
    max-width: 330px;
}

.auth-content {
    display: flex;
    flex-direction: column;
}
