// center addres table and next button
.stepper .tezos-trezor-new {
    display: flex;
    flex-direction: column;
}

.stepper .tezos-trezor-new-next {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

// stretch table to card size 
.stepper .tezos-trezor-new table {
    width: 100%
}