<div style="display: flex;align-items: center; padding-left: 8px;">

  <mat-spinner [diameter]="20" [strokeWidth]="1" *loadingSpinner></mat-spinner>

  <span class="filler-content"></span>

  <div class="close">
    <button mat-button routerLink="/tezos/wallet">
      <mat-icon>close</mat-icon>
      Close
    </button>
  </div>

</div>

<div class="stepper">

  <mat-card>
    <mat-card-content>

      <br />
      <mat-card-header>
        <h2 class="mat-h1 reset">
          Get started with Trezor
        </h2>
      </mat-card-header>


      <mat-horizontal-stepper [linear]="false">


        <mat-step [editable]="false" [optional]="false" [completed]="true" label="Connect Trezor">
          <div class="tezos-trezor-connect">

            <app-tezos-trezor-connect>
            </app-tezos-trezor-connect>

            <button mat-flat-button matStepperNext *ngIf="tezosTrezorConnectConnected" (click)="tezosTrezorSelectAddress()">
              <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
              Continue to Select address&nbsp;
            </button>
          </div>
        </mat-step>

        <mat-step [editable]="false" [optional]="false" label="Add New Address">


          <div class="tezos-trezor-new">

            <!-- <span class="mat-h2">
              Select address
            </span> -->

            <br />

            <app-tezos-trezor-new>
            </app-tezos-trezor-new>

            <div class="tezos-trezor-new-next">
              <button mat-flat-button matStepperNext *ngIf="tezosTrezorNew.entities[tezosTrezorNew.selected]?.publicKey">
                <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
                Continue to Add Name&nbsp;
              </button>
            </div>

          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Add Name">
          <div class="tezos-trezor-new">

            <br />

            <mat-card style="background-color:whitesmoke; width:604px;">
              <mat-card-content>
                <span class="mat-body-1">
                  Giving a human name to your address <span style="font-weight: 500">{{ tezosTrezorNewSelected }}</span>
                  <br /> helps you to recognize it anytime later
                </span>
              </mat-card-content>
            </mat-card>

            <br />
            <br />

            <div [formGroup]="tezosTrezorNewForm">

              <mat-form-field appearance="outline" style="display:flex">
                <mat-label>Name your address</mat-label>

                <input #name matInput formControlName="name">

                <mat-error>
                  Name is required
                </mat-error>
              </mat-form-field>

            </div>

            <br />
            <br />

            <div class="tezos-trezor-new-next">
              <button mat-flat-button matStepperNext (click)="tezosTrezorNewSave()">
                <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
                Finish&nbsp;
              </button>
            </div>

          </div>
        </mat-step>

      </mat-horizontal-stepper>

    </mat-card-content>
  </mat-card>
</div>