<div class="close">
  <button mat-button routerLink="/tezos/wallet">
    <mat-icon>close</mat-icon>
    Close
  </button>
</div>

<div class="stepper">

  <mat-card>
    <mat-card-content>

      <br />
      <mat-card-header>
        <h2 class="mat-h1 reset">
          Get started with Trezor
        </h2>
      </mat-card-header>

      <mat-horizontal-stepper [linear]="false">

        <mat-step [editable]="false" [optional]="false" [completed]="true" label="Connect Trezor">
          <div class="tezos-trezor-connect">

            <app-tezos-trezor-connect>
            </app-tezos-trezor-connect>

            <button mat-flat-button matStepperNext *ngIf="tezosTrezorConnectConnected">
              <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
              Continue to Select address&nbsp;
            </button>
          </div>
        </mat-step>

        <mat-step [editable]="false" [optional]="false" label="Select Address">
          <div class="tezos-trezor-new">

            <!-- <span class="mat-h2">
              Select address
            </span> -->
            
            <br/>

            <app-tezos-trezor-new>
            </app-tezos-trezor-new>

            <div class="tezos-trezor-new-next">
              <button mat-flat-button matStepperNext *ngIf="tezosTrezorNewSelected">
                <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
                Continue to Add Name&nbsp;
              </button>
            </div>

          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Add Name">
          <div>
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>

    </mat-card-content>
  </mat-card>
</div>