table {
    width: 100%;
}

.mat-cell.cdk-column-name.mat-column-identicon  {
    width: 50px
}

.mat-cell.cdk-column-name.mat-column-name  {
    width: 270px
}

.mat-cell.cdk-column-publicKeyHash.mat-column-publicKeyHash {
    width: 350px
}

a {
    color: #000000;
    text-decoration: none;
}
