<div class="dashboard">
  <mat-card>
    
    <br />
    <mat-card-header>
      <h2 class="mat-h1 reset">
        Wallet list 
        <app-tezos-node>
        </app-tezos-node>
      </h2>
    </mat-card-header>

    <mat-card-content>
      <table mat-table [dataSource]="tableDataSource">

        <ng-container matColumnDef="identicon">
          <th mat-header-cell *matHeaderCellDef>&nbsp;Icon </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/tezos/wallet/detail/{{element.id}}">
              <svg width="40" height="40" identiconHash="{{element.publicKeyHash}}">
                Fallback text for browsers not supporting inline svg
              </svg>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/tezos/wallet/detail/{{element.id}}">{{element.name}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="publicKeyHash">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/tezos/wallet/detail/{{element.id}}">{{element.publicKeyHash}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="balance" stickyEnd>
          <th mat-header-cell *matHeaderCellDef> Balance </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/tezos/wallet/{{element.id}}">{{element.balance*0.000001 | number:'1.3-6' }} ꜩ</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['identicon','name','publicKeyHash','balance']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['identicon','name','publicKeyHash','balance'];"></tr>

        <!-- <tr mat-header-row *matHeaderRowDef="['identicon','name','balance']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['identicon','name','balance'];"></tr> -->

        <!-- <tr mat-header-row *matHeaderRowDef="['name','publicKeyHash','balance']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name','publicKeyHash','balance'];"></tr> -->


      </table>
      <mat-paginator [pageSizeOptions]="[10, 20]" hidePageSize></mat-paginator>

    </mat-card-content>
  </mat-card>

</div>