<div class="dashboard">
  <mat-card>

    <mat-card-header>
      <h2 class="mat-h1 reset">
        Wallet list
        <app-tezos-node>
        </app-tezos-node>
      </h2>
    </mat-card-header>

    <mat-card-content class="walletList">
      <!-- <table mat-table [dataSource]="tableDataSource">

        <ng-container matColumnDef="identicon">
          <th mat-header-cell *matHeaderCellDef>&nbsp;Icon </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/tezos/wallet/detail/{{element.id}}">
              <svg width="40" height="40" identiconHash="{{element.publicKeyHash}}">
                Fallback text for browsers not supporting inline svg
              </svg>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/tezos/wallet/detail/{{element.id}}">{{element.name}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="publicKeyHash">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/tezos/wallet/detail/{{element.id}}">{{element.publicKeyHash}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="balance" stickyEnd>
          <th mat-header-cell *matHeaderCellDef> Balance </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/tezos/wallet/detail/{{element.id}}">{{element.balance*0.000001 | number:'1.2-6' }} XTZ</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['identicon','name','publicKeyHash','balance']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['identicon','name','publicKeyHash','balance'];"></tr>

      

      </table>
      <mat-paginator [pageSizeOptions]="[10,20]" hidePageSize></mat-paginator> -->

      <div *ngFor="let wallet of tezosWalletList" class="wallet">
        <table>
          <thead>
            <tr>
              <td>Icon</td>
              <td>Name</td>
              <td>Address</td>
              <td>Ballance</td>
            </tr>            
          </thead>
          <tbody>
            <tr>
              <td>
                <svg width="40" height="40" identiconHash="{{wallet.name}}">
                  Fallback text for browsers not supporting inline svg
                </svg>
              </td>
              <td>{{wallet.name}}</td>
              <td>{{wallet.id}}</td>
              <td>{{wallet.balance | number:'1.0-3'}} XTZ </td>
            </tr>
          </tbody>
        </table>
        <!-- <p class="text headline">
          <span class="name"> Name</span>
          <span class="address">Address</span>
          <span class="ballance">Total XTZ balance </span>
        </p>
        <p class="text">
          <a class="link" routerLink="/tezos/wallet/detail/{{wallet.id}}">
            <span class="name"> {{wallet.name}} </span>
            <span class="address">{{wallet.id}}</span>
            <span class="ballance">{{wallet.balance | number:'1.0-3'}} XTZ </span>
          </a>
        </p> -->

        <app-chart-line-nav class="chart" [data]="wallet.dailyBalances" [view]="[720,240]"></app-chart-line-nav>

      </div>
    </mat-card-content>
  </mat-card>

</div>