<div class="auth-main" [formGroup]="loginForm">

  <mat-card class="auth-card">

    <mat-card-content>

      <div class="auth-content">

        <br>

        <mat-form-field>
          <input matInput #input placeholder="Email" formControlName="email" [errorStateMatcher]="emailErrorMatcher" />
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/64</mat-hint> -->
          <mat-error>
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field>
          <input matInput #input placeholder="Password" formControlName="password" type="password" (keyup.enter)="signIn()" />
          <mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <br>

        <mat-error>
          {{this.loginError}}
        </mat-error>

        <br>

        <button mat-raised-button color="primary" (click)="signIn()">
          Sign in
        </button>

        <br>

        <div>
          <button mat-button color="primary" routerLink="/registration">
            Create an account
          </button>
          <button mat-button color="primary" routerLink="/registration">
            Forgot password ?
          </button>
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>