<div class="auth-main" [formGroup]="loginForm">

  <mat-card class="auth-card">

    <mat-card-content>

      <div class="auth-content">

        <span class="mat-display-1" style="font-weight: 300;font-size:28px;">
          Login
        </span>

        <br />
        <br />
        <br />

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput #input placeholder="Email" formControlName="email" [errorStateMatcher]="emailLoginErrorMatcher" />
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/64</mat-hint> -->
          <mat-error>
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <br />

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput #input placeholder="Password" formControlName="password" type="password" (keyup.enter)="signIn()" />
          <mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>
        
        <br />

        <mat-error>
          {{this.login.error.message}}
        </mat-error>

        <br />

        <!-- <button mat-flat-button routerLink="/auth/forgot" class="button" style="margin-left:-20px;opacity:0.6; font-size:14px; background-color: transparent;color: #454d5e;">
          Forgot password ?
        </button> -->

        <br />

        <button mat-flat-button (click)="signIn()" class="button" style="min-width:110px;">
          Sign in
          <!-- Login -->
        </button>

        <br />

        <br />

        <div>
          <!-- <button mat-flat-button color="primary" routerLink="/auth/registration" class="button" style="background-color: whitesmoke;color: #454d5e;">
            Create an account
          </button> -->

        </div>

      </div>

    </mat-card-content>

  </mat-card>

  <br>

  <!-- <mat-card class="auth-card" flex>

    <mat-card-content>

      <div class="auth-content">


        <button mat-raised-button color="primary" (click)="signIn()">
          Facebook login
        </button>
        <br>
        <button mat-raised-button color="primary" (click)="signIn()">
          Google login
        </button>



      </div>

    </mat-card-content>

  </mat-card> -->

</div>