<div class="tezos-operation-delegation" [formGroup]="tezosOperationDelegationForm" ngrxForm="tezos.tezosOperationDelegation">


  <mat-form-field appearance="outline">

    <mat-label>From</mat-label>
    <mat-select placeholder="From" formControlName="from">
      <mat-option *ngFor="let from of tezosWalletListFrom | async" [value]="from.publicKeyHash">
        {{ from.name }} | {{ from.balance * 0.000001 | number:'1.0-6' }} ꜩ
      </mat-option>
    </mat-select>
    <mat-error>
      Please choose address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>To</mat-label>
    <input matInput #address placeholder="To" formControlName="to" [matAutocomplete]="auto" />
    <mat-hint align="end">{{address.value?.length || 0}}/36</mat-hint>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let to of tezosWalletList | async" [value]="to.publicKeyHash">
        <small>{{ to.name }} | {{ to.balance * 0.000001 | number:'1.0-6' }} ꜩ</small>
      </mat-option>
    </mat-autocomplete>
    <mat-error>
      Please choose address
    </mat-error>
  </mat-form-field>

</div>

<br />
<br />

<button *ngIf="tezosWalletDetail?.type !== 'TREZOR_T'" mat-flat-button (click)="delegate('WEB')">
  <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
  Delegate Funds
</button>

<button *ngIf="tezosWalletDetail?.type === 'TREZOR_T'" mat-flat-button (click)="delegate('TREZOR_T')">
  <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
  Continue to Connect Trezor
</button>