<div class="tezos-operation-delegation" [formGroup]="tezosOperationDelegationForm" ngrxForm="tezos.tezosOperationDelegation">

  <mat-form-field appearance="outline">

    <mat-label>From</mat-label>
    <mat-select placeholder="From" formControlName="from">

      <mat-select-trigger>
        <div class="tezos-wallet-list-option">
          <div class="tezos-wallet-list-option-left">
            <svg width="25" height="25" identiconHash="{{tezosWalletDetail?.publicKeyHash}}"
              class="tezos-wallet-list-option-identicon">
            </svg>
            <span class="tezos-wallet-list-option-name">
              {{ tezosWalletDetail?.name }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              {{ tezosWalletDetail?.publicKeyHash }}
            </span>
            <!-- <span class="tezos-wallet-list-option-opacity">
              <i>{{ tezosWalletDetail?.path }}</i>
            </span> -->
          </div>
          <span class="tezos-wallet-list-option-balance">
            {{ tezosWalletDetail?.balance * 0.000001 | number:'1.2-6' }} XTZ
          </span>
        </div>
      </mat-select-trigger>

      <mat-option *ngFor="let from of tezosWalletListFrom | async" [value]="from.publicKeyHash" #selected>
        <div class="tezos-wallet-list-option">
          <div class="tezos-wallet-list-option-left">
            <svg width="25" height="25" identiconHash="{{from.publicKeyHash}}"
              class="tezos-wallet-list-option-identicon">
            </svg>
            <span class="tezos-wallet-list-option-name">
              {{ from.name }}
            </span>
            <!-- <span class="tezos-wallet-list-option-opacity">
              {{ from.publicKeyHash }}
            </span> -->
            <span class="tezos-wallet-list-option-opacity">
              <i>{{ from.path }}</i>
            </span>
          </div>
          <span class="tezos-wallet-list-option-balance">
            {{ from.balance * 0.000001 | number:'1.2-6' }} XTZ
          </span>
        </div>
      </mat-option>

    </mat-select>
    <mat-error>
      Please choose address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>To</mat-label>
    <input matInput #address placeholder="To" formControlName="to" [errorStateMatcher]="tezosAddressErrorMatcher">
    <mat-hint align="end">{{address.value?.length || 0}}/36</mat-hint>
    <mat-error>
      Please choose valid address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="tezosWalletDetail?.delegate?.setable!==true">

    <mat-label>Amount</mat-label>
    <input matInput #amount type="number" placeholder="Amount" formControlName="amount"
      [errorStateMatcher]="tezosAmountErrorMatcher" />
    <mat-hint align="end">{{amount.value?.length || 0}}/16</mat-hint>
    <mat-error>
      Please enter valid amount.
      <span *ngIf="tezosOperationDelegation.amountMax >0"> Maximum delegateble amount is
        {{ tezosOperationDelegation.amountMax | number:'1.2-6' }} XTZ.</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Fee</mat-label>
    <input matInput #fee type="number" placeholder="Fee" formControlName="fee" />
    <mat-hint align="end">{{fee.value?.length || 0}}/16</mat-hint>
    <mat-error>
      Please enter valid fee
    </mat-error>
  </mat-form-field>

  {{ tezosOperationDelegation | json }}
  !!! Check if amount is below 0
  Maximum delegateble amount is {{ tezosOperationDelegation.amountMax  | number:'1.2-6'  }} XTZ.
  <!-- 
  <mat-form-field appearance="outline" *ngIf="tezosWalletDetail?.delegate?.setable!==true">
    <mat-label>Name</mat-label>
    <input matInput #address placeholder="Name" formControlName="name" />
    <mat-hint align="end">{{address.value?.length || 0}}/36</mat-hint>
    <mat-error>
      Please choose new address name
    </mat-error>
  </mat-form-field> -->

</div>

<br />
<br />

<button *ngIf="tezosWalletDetail?.type !== 'TREZOR_T'" mat-flat-button (click)="delegate('WEB')">
  <svg-icon icon="next"></svg-icon>&nbsp;
  Delegate Funds
</button>

<button *ngIf="tezosWalletDetail?.type === 'TREZOR_T'" mat-flat-button (click)="delegate('TREZOR_T')">
  <svg-icon icon="next"></svg-icon>&nbsp;
  Continue to Connect Trezor
</button>