:host mat-side-nav {
    background-color: white !important;
}

.wallet-start {
    position: absolute;
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
}
