:host mat-side-nav {
    background-color: white !important;
}

.wallet-start {
    position: absolute;
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
}

.button {
    font-size: 15px;
    font-weight:400;
    padding: 3px 20px 3px 20px;
    min-width:160px;
    border-radius:3px; 
}