<button mat-button (click)="reloadDelegates()">
  Reload delegates
</button>

<button mat-button (click)="saveDelegates()">
  Save delegates
</button>

<div>
  <mat-table #table [dataSource]="delegateTableDataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a target="_blank" href="http://tzscan.io/{{element.delegate.value}}?default=baking">
          {{element.delegate.value}}
        </a>
      </mat-cell>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef (click)="sortDelegatesBalance()">Balance </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.balance*0.000001 | number:'1.2-2' }} ꜩ
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name','balance']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name','balance'];"></mat-row>

  </mat-table>
</div>