<div class="auth-registration" [formGroup]="registrationForm">

  <mat-form-field>
    <input matInput #input placeholder="Email" formControlName="email" />
    <mat-hint align="start">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>
  
  <br>

  <mat-form-field>
    <input matInput #input placeholder="Password" formControlName="password" />
    <mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput #input placeholder="Password" formControlName="repeatPassword" />
    <mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
  </mat-form-field>

</div>

<br>

<button mat-raised-button color="primary" (click)="register()">
  Register
</button>

