<div class="auth-main" [formGroup]="registrationForm">

  <mat-card class="auth-card">

    <mat-card-content>

      <div class="auth-content">

        <br>

        <mat-form-field>
          <input matInput #input placeholder="Email" formControlName="email" 
            [errorStateMatcher]="emailRegistrationErrorMatcher" />
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/64</mat-hint> -->
          <mat-error>
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field>
          <input matInput #password placeholder="Password" formControlName="password" type="password" maxlength="32" />
          <mat-hint align="end">{{password.value?.length || 0}}/32</mat-hint>
          <!-- <mat-error>
            Password is required
          </mat-error> -->
        </mat-form-field>

        <br>

        <mat-form-field>
          <input matInput #input placeholder="Repeat password" formControlName="repeatPassword" type="password" maxlength="32" 
            [errorStateMatcher]="passwordRegistrationErrorMatcher" />
          <mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
          <mat-error>
            Password does not match
          </mat-error>
        </mat-form-field>

        <br>

        <mat-error>
          {{this.registration.error.message}}
        </mat-error>

        <br>

        <button mat-raised-button color="primary" (click)="signUp()">
          Create account
        </button>

        <br>

      </div>

    </mat-card-content>

  </mat-card>

</div>