.auth-main {   
    position: absolute;
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
}

.auth-card {
    max-width: 290px;
}

.auth-content {
    // display: flex;
    flex-direction: column;
}

.button {
    font-size: 15px;
    font-weight:400;
    padding: 3px 20px 3px 20px;
    min-width:160px;
    border-radius:3px; 
}
