<!-- <br>
<span>
  download
  <a href="https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc?hl=en">
    rigin-cors-change</a>
  <br> add https://trezor.io to Origin
</span>
<br>
<br> -->

<button mat-raised-button color="primary" (click)="getAddress()">
  Sign Transaction with Trezor T
</button>

<br>
<br>

<button mat-raised-button color="primary" (click)="getAddressTrezorConnect()">
  Get Address (TrezorConnect)
</button>

<br>
<br>

<button mat-raised-button color="primary" (click)="signTrezorConnect()">
  Sign Transaction (TrezorConnect)
</button>

<br>
<br>



<button mat-raised-button color="primary" (click)="decodeProtoBuf()">
  Decode protoBuf
</button>