<!-- <br>
<span>
  download
  <a href="https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc?hl=en">
    rigin-cors-change</a>
  <br> add https://trezor.io to Origin
</span>
<br>
<br> -->

<button mat-raised-button color="primary" (click)="getAddressTrezorConnect()">
  Get Address (TrezorConnect)
</button>

<br>
<br>

<button mat-raised-button color="primary" (click)="signTrezorConnect()">
  Sign Transaction (TrezorConnect)
</button>

<br>
<br>

<button mat-raised-button color="primary" (click)="getEthAddressTrezorConnect()">
  Get address [ETH] (TrezorConnect)
</button>

<br>
<br>

<button mat-raised-button color="primary" (click)="getXTZAddressTrezorConnect(0)">
  Get address - tz1 (TrezorConnect)
</button>

<br>
<br>

<button mat-raised-button color="primary" (click)="getXTZAddressTrezorConnect(1)">
  Get address - tz2 (TrezorConnect)
</button>

<br>
<br>
<button mat-raised-button color="primary" (click)="getXTZAddressTrezorConnect(2)">
  Get address- tz3 (TrezorConnect)
</button>

<br>
<br>
<button mat-raised-button color="primary" (click)="signXTZTrezorConnect(0)">
  Sign transaction - tz1 (TrezorConnect)
</button>


<!-- 
  browser-sync start --server --port 8200

  kill $(pgrep trezord) && /Applications/Utilities/TREZOR\ Bridge/trezord -e 21324
  
  edsk2vmHM6rk8P4xA4x2ys2gXq7JztkfXnmnuTJQkP4erNnLDyoivU
  edpkvNqqcacLL1xnxCi7jsGcceuM6k3ggU3HrLPQUsQvQP5KpyMLUw
  tz1NVrksRks82CSZQAGoWvujRxAok4VsJXUZ


  // set local submodule 
  https://stackoverflow.com/questions/978052/how-can-i-make-my-local-repository-available-for-git-pull

  // detach local submodule
  https://stackoverflow.com/questions/10906554/how-do-i-revert-my-changes-to-a-git-submodule

  // baking explanatinion commit
  https://github.com/tezos/tezos/blob/afd5a9e45f2348fe4cea524f0359836347d4b48c/docs/introduction/alphanet.rst
  https://github.com/tezos/tezos/commit/afd5a9e45f2348fe4cea524f0359836347d4b48c#diff-b070ef146f6128bf697eaafda73cc7a7


  

  = test
  curl http://127.0.0.1:6000/authorized_keys

  // potencialne zmenit na 127.0.0.1
  -- connect to client open port 5000 on client and connect back to 0.0.0.6732
  ssh -f -N -T -R 5000:0.0.0.0:6732 tezos@46.101.236.136

  -- forwar local host to interrnet
  nc -l -p 6000 -c "nc 127.0.0.1 5000"


  - ssh tunel
  https://gist.github.com/drmalex07/c0f9304deea566842490
  https://github.com/renxida/labtunnel

  - passwordless ssh
  https://unix.stackexchange.com/questions/23291/how-to-ssh-to-remote-server-using-a-private-key

  - launch remote signer
  nohup ./tezos-signer launch http signer -a 0.0.0.0 &

  ./zeronet.sh client import secret key remote_baker http://46.101.236.136:6000/tz1Wet1q9mKCGgYrgibVWTQrUwYcAmssiVHw

  __________________________________________________________
  1. hw wallet: nohup ./tezos-signer launch http signer -a 0.0.0.0 &
  2. hw wallet: ssh -f -N -T -R 6000:0.0.0.0:6732 tezos@46.101.164.28
  3. hw wallet: sudo tcpdump -i lo -A -s 0 'tcp port 6732' 
  4. server: ./tezos-client import secret key remote_baker http://127.0.0.1:5000/tz1V7Vmvq2PbcKyL3sJZ8LYKDaFHRGPWCGqu


-->