<!-- <br>
<span>
  download
  <a href="https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc?hl=en">
    rigin-cors-change</a>
  <br> add https://trezor.io to Origin
</span>
<br>
<br> -->

<button mat-raised-button color="primary" (click)="getAddressTrezorConnect()">
  Get Address (TrezorConnect)
</button>

<br>
<br>

<button mat-raised-button color="primary" (click)="signTrezorConnect()">
  Sign Transaction (TrezorConnect)
</button>

<br>
<br>

<button mat-raised-button color="primary" (click)="getAddress()">
  Sign Transaction (TrezorBridge)
</button>

<br>
<br>

<button mat-raised-button (click)="decodeProtoBuf()">
  Decode protoBuf
</button>

<br>
<br>

<button mat-raised-button (click)="getAddressTrezorLink()">
    Get Address (TrezorLink)
</button>

<!-- 
  browser-sync start --server --port 8200

  kill $(pgrep trezord) && /Applications/Utilities/TREZOR\ Bridge/trezord -e 21324
  
  edsk2vmHM6rk8P4xA4x2ys2gXq7JztkfXnmnuTJQkP4erNnLDyoivU
  edpkvNqqcacLL1xnxCi7jsGcceuM6k3ggU3HrLPQUsQvQP5KpyMLUw
  tz1NVrksRks82CSZQAGoWvujRxAok4VsJXUZ


  // set local submodule 
  https://stackoverflow.com/questions/978052/how-can-i-make-my-local-repository-available-for-git-pull

  // detach local submodule
  https://stackoverflow.com/questions/10906554/how-do-i-revert-my-changes-to-a-git-submodule

  // baking explanatinion commit
  https://github.com/tezos/tezos/blob/afd5a9e45f2348fe4cea524f0359836347d4b48c/docs/introduction/alphanet.rst
  https://github.com/tezos/tezos/commit/afd5a9e45f2348fe4cea524f0359836347d4b48c#diff-b070ef146f6128bf697eaafda73cc7a7

-->