<!-- <div class="close">
  <button mat-button routerLink="/tezos/wallet">
    <mat-icon>close</mat-icon>
    Close
  </button>
</div> -->
<div class="stepper">

  <mat-card>
    <mat-card-content>

      <br />
      <mat-card-header>
        <h2 class="mat-h1 reset">
          Send funds
        </h2>
      </mat-card-header>

      <mat-horizontal-stepper [linear]="false" #matHorizontalStepper>

        <mat-step [editable]="false" optional="false" label="Preparation">
          <div>
            <app-tezos-operation-transaction>
            </app-tezos-operation-transaction>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Connect Trezor" *ngIf="tezosWalletDetail?.type==='TREZOR_T'">
          <div class="tezos-trezor-connect">

            <app-tezos-trezor-connect>
            </app-tezos-trezor-connect>

            <button mat-flat-button matStepperNext *ngIf="tezosTrezorConnectConnected" (click)="tezosTrezorSendFunds()">
              <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
              Continue to Verification&nbsp;
            </button>
          </div>
        </mat-step>

        <!-- *ngIf="tezosWalletDetail?.type==='TREZOR_T'" -->
        <mat-step [editable]="false" optional="false" label="Verification">

          <div class="tezos-trezor-verify">

            <!-- verify amount & address -->
            <div class="tezos-trezor-verify-step" *ngIf="tezosTrezorConnectButton === tezosTrezorConnectButtonStart || tezosTrezorConnectButton === tezosTrezorConnectButtonStart + 1">

              <img src="./assets/trezor_verify_detail.svg" alt="Trezor Verification">

              <div class="tezos-trezor-verify-info">

                <mat-card class="tezos-trezor-verify-card">
                  <mat-card-content>

                    <span class="mat-body-1">
                      Amount
                    </span>
                    <span class="mat-body-1" class="tezos-verify-input">
                      {{tezosOperationTransaction.form.amount}} XTZ
                    </span>

                    <br />

                    <span class="mat-body-1">
                      To (receiving address)
                    </span>
                    <span class="mat-body-1" class="tezos-verify-input">
                      {{tezosOperationTransaction.form.to}}
                    </span>
                  </mat-card-content>
                </mat-card>

                <div class="tezos-trezor-verify-warning">
                  As malware can replace address shown on computer, you should always check the authenticity of
                  receiving address when sending funds from Trezor
                </div>

              </div>

            </div>

            <!-- verifi amount & fee -->
            <div class="tezos-trezor-verify-step" *ngIf="tezosTrezorConnectButton === tezosTrezorConnectButtonStart+2">

              <img src="./assets/trezor_confirm_transaction.svg" alt="Trezor Verification" />

              <div class="tezos-trezor-verify-info">

                <mat-card class="tezos-trezor-verify-card">
                  <mat-card-content>

                    <span class="mat-body-1">
                      Amount
                    </span>
                    <span class="mat-body-1" class="tezos-verify-input">
                      {{tezosOperationTransaction.form.amount}} XTZ
                    </span>

                    <br />

                    <span class="mat-body-1">
                      Fee
                    </span>
                    <span class="mat-body-1" class="tezos-verify-input">
                      {{tezosOperationTransaction.form.fee}}
                    </span>
                  </mat-card-content>
                </mat-card>

                <div class="tezos-trezor-verify-warning">
                  As malware can replace address shown on computer, you should always check the authenticity of
                  receiving address when sending funds from Trezor
                </div>

              </div>

            </div>

            <div class="tezos-stepper-next">
              Confirm transaction detail on your device
            </div>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Confirmation">
          <div>

            <div style="display:flex;align-items:center;flex-direction: column;">

              <div style="display:flex;justify-content: center;flex-direction: row; padding:30px">


                <div style="display:flex;align-items: center;flex-direction: column;width: 390px; border-radius:5px">

                  <mat-card style="background-color: #f5f6f8; width:314px ; height: 130px; padding:20px">
                    <mat-card-header>
                      <h2 class="mat-h2">
                        Transaction Sent
                      </h2>
                    </mat-card-header>
                    <mat-card-content>

                      <span class="mat-body-1">
                        The transaction has been signed and sent to the network.
                        Your account balance will update once the blockchain has confirmed the transaction.
                      </span>

                      <br />
                    </mat-card-content>
                  </mat-card>


                </div>

              </div>

            </div>

          </div>
        </mat-step>

      </mat-horizontal-stepper>

    </mat-card-content>
  </mat-card>

</div>