<div class="trezor-connect">

  <div class="trezor-connected" *ngIf="tezosTrezorConnect.device.connected">
    <img src="./assets/trezor_connected.svg" alt="Trezor Connected">
    <span class="action">
      {{ tezosTrezorConnect.status.message.text }}
    </span>
  </div>

  <div class="trezor-disconnected" *ngIf="!tezosTrezorConnect.device.connected">
    <img src="./assets/trezor_disconnected.svg" alt="Connect your Trezor to Continue...">
    <span class="action">
      {{ tezosTrezorConnect.status.message.text }}&nbsp;
      <a *ngIf="tezosTrezorConnect.status?.message?.urlText" target="_blank" href="{{ tezosTrezorConnect.status?.message?.url }}"
        externalLink>
        {{ tezosTrezorConnect.status?.message?.urlText }}
      </a>
    </span>

    <span class="status">
      <!-- <span *ngIf="tezosTrezorConnect.status.event">Status</span> -->
      &nbsp;{{ tezosTrezorConnect.status.event }}
    </span>

  </div>

</div>