<div class="trezor-connect">

  <div class="trezor-connected" *ngIf="tezosTrezorConnect.device.connected">
    <img src="./assets/trezor_connected.svg" alt="Trezor Connected">
    <span class="action">
      {{ tezosTrezorConnect.device.status }}
    </span>
  </div>

  <div class="trezor-disconnected" *ngIf="!tezosTrezorConnect.device.connected">
    <img src="./assets/trezor_disconnected.svg" alt="Connect your Trezor to Continue...">
    <span class="action">
      {{ tezosTrezorConnect.device.status }}
    </span>
    <span class="action">
      {{ tezosTrezorConnect.device.event }}
    </span>
  </div>

</div>