.trezor-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    // font-weight: 300;
    font-size: 18px;
}

.trezor-connected, .trezor-disconnected {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 390px;
}

.trezor-connected img, .trezor-disconnected img {
    display: flex;
    width: 140px;
}

.action {
    display: flex;
    font-size: 18px;
    margin-top: auto
}

.status {
    height: 20px;
}