.trezor-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    // font-weight: 300;
    font-size: 18px;
}

.trezor-connected {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 390px;
}

.trezor-disconnected {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
}

.trezor-connected img, .trezor-disconnected img {
    display: flex;
    width: 140px;
}

.action {
    font-size: 18px;
    margin-top: auto;
    text-align: center;
}

.status {
    padding-top: 10px;
    opacity: 0.1
}

.tezos-verify-input {
    background-color: #e3e5e8;
    border-radius: 2px;
    padding: 13px 10px 13px 10px;
    margin: 7px 0px 7px 0px;
    height: 15px;
    width: 295px;
    padding-right: 10px;
    display: flex;
}