.trezor-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    // font-weight: 300;
    font-size: 18px;
}

.trezor-connected {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 370px;
}

.trezor-disconnected {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.trezor-connected img, .trezor-disconnected img {
    display: flex;
    width: 140px;
}

.action {
    font-size: 18px;
    margin-top: auto;
    text-align: center;
}

.status {
    padding-top: 10px;
    opacity: 0.1
}


// TODO: move to global file or create component
.tezos-verify-input {
    background-color: #e3e5e8;
    border-radius: 2px;
    padding: 13px 10px 13px 10px;
    margin: 7px 0px 7px 0px;
    height: 15px;
    width: 295px;
    padding-right: 10px;
    display: flex;
}

.tezos-trezor-verify {
    display:flex;
    align-items:center;
    flex-direction: column;
}

.tezos-trezor-verify-step {
    display:flex;
    justify-content: center;
    flex-direction: row;
    padding:30px
}

.tezos-trezor-verify-info {
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 390px;
    border-radius:5px
}

mat-card.tezos-trezor-verify-card {
    background-color: #f5f6f8;
    width:314px;
    height: 160px;
    padding:20px
}

mat-card.tezos-trezor-verify-card-short {
    background-color: #f5f6f8;
    width:314px;
    height: 80px;
    padding:20px
}

mat-card-content .tezos-trezor-verify-input {
    display: flex;   
    font-weight:500;
    background-color: #e3e5e8;
    border-radius: 2px;
    padding: 13px 10px 13px 10px;
    margin: 7px 0px 7px 0px;
    height: 15px;
    width: 295px;
    padding-right: 10px;
}

.tezos-trezor-verify-warning {
    padding:17px;
    font-weight: 300;
}

.tezos-stepper-next {
    font-size:18px;
}