<div class="trezor-connect">

  <div class="trezor-connected" *ngIf="tezosTrezorConnect.device.connected">
    <img src="./assets/trezor_connected.svg" alt="Trezor Connected" style="transform: scale(0.9)">
    <span class="action">
      Trezor Connected
    </span>
  </div>

  <div class="trezor-disconnected" *ngIf="!tezosTrezorConnect.device.connected && !tezosTrezorConnect.passphrase.isVisible">
    <img src="./assets/trezor_disconnected.svg" alt="Connect your Trezor to Continue..." style="transform: scale(0.9)">

    <span class="action" *ngIf="!tezosTrezorConnect.status.error">
      Connect your Trezor to Continue...
    </span>

    <span class="action" *ngIf="tezosTrezorConnect.status.errorType=='firmware'">
      The firmware of your device needs to be upgraded.<br />
      Please re-connect device after upgrading at
      <a target="_blank" href="https://beta-wallet.trezor.io/" externalLink>
        beta-wallet.trezor.io
      </a>
    </span>

    <span class="action" *ngIf="tezosTrezorConnect.status.errorType=='bootloader'">
      Connected device is in firmware update mode. Please re-connect it.
    </span>

    <span class="action" *ngIf="tezosTrezorConnect.status.errorType=='initialize'">
      Your device needs to be initialized first.<br />
      Please re-connect device after initializing at
      <a target="_blank" href="https://wallet.trezor.io/" externalLink>
        wallet.trezor.io
      </a>
    </span>

    <span class="action" *ngIf="tezosTrezorConnect.status.errorType=='transport'">
      Trezor Bridge failed. <br />
      Please restart PC or reinstall
      <a target="_blank" href="https://wallet.trezor.io/" externalLink>
        Trezor Bridge.
      </a>
    </span>

    <span class="action" *ngIf="tezosTrezorConnect.status.errorType=='init'">
      TrezorConect initialization failed. Please restart application.
    </span>

    <span class="action" *ngIf="tezosTrezorConnect.status.errorType=='used'">
      Your device is being used by another application.<br />
      Please re-connect device after closing another application.
    </span>

    <span class="action" *ngIf="tezosTrezorConnect.status.errorType=='occupied'">
      Your device is being occupied by another application.<br />
      Please re-connect device after closing another application.
    </span>

    <span class="action" *ngIf="tezosTrezorConnect.status.errorType=='unacquired'">
      Please re-connect device. Device is unacquired.<br />
      Your device is being used by another application.
    </span>

    <span class="action" *ngIf="tezosTrezorConnect.status.errorType=='passphrase'">
      Password is required. Please wait for Trezor to start.
    </span>

    <!-- 
      <span class="status">
        &nbsp;{{ tezosTrezorConnect.status.event }}
      </span> -->

  </div>

  <div class="tezos-trezor-passpharse" *ngIf="tezosTrezorConnect?.passphrase?.isVisible">

    <app-tezos-trezor-passphrase>
    </app-tezos-trezor-passphrase>

  </div>

</div>