<div class="tezos-operation-receive" [formGroup]="tezosOperationReceiveForm" ngrxForm="tezos.tezosOperationReceive">

  <mat-form-field appearance="outline">

    <mat-label>To</mat-label>
    <mat-select placeholder="To" formControlName="to">

      <mat-select-trigger>
        <div class="tezos-wallet-list-option">
          <div class="tezos-wallet-list-option-left">
            <svg width="25" height="25" identiconHash="{{tezosWalletDetail?.publicKeyHash}}" class="tezos-wallet-list-option-identicon">
            </svg>
            <span class="tezos-wallet-list-option-name">
              {{ tezosWalletDetail?.name }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              {{ tezosWalletDetail?.publicKeyHash }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              <i>{{ tezosWalletDetail?.type }}</i>
            </span>
          </div>
          <span class="tezos-wallet-list-option-balance">
            {{ tezosWalletDetail?.balance * 0.000001 | number:'1.2-6' }} XTZ
          </span>
        </div>
      </mat-select-trigger>

      <mat-option *ngFor="let to of tezosWalletListTo | async" [value]="to.publicKeyHash" #selected>
        <div class="tezos-wallet-list-option">
          <div class="tezos-wallet-list-option-left">
            <svg width="25" height="25" identiconHash="{{to.publicKeyHash}}" class="tezos-wallet-list-option-identicon">
            </svg>
            <span class="tezos-wallet-list-option-name">
              {{ to.name }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              {{ to.publicKeyHash }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              <i>{{ to.type }}</i>
            </span>
          </div>
          <span class="tezos-wallet-list-option-balance">
            {{ to.balance * 0.000001 | number:'1.2-6' }} XTZ
          </span>
        </div>
      </mat-option>

    </mat-select>
    <mat-error>
      Please choose address
    </mat-error>
  </mat-form-field>

</div>

<br />

<button mat-flat-button  *ngIf="tezosWalletDetail?.type !== 'TREZOR_T'" (click)="receive('WEB')">
  <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
  Receive funds
</button>

<button *ngIf="tezosWalletDetail?.type === 'TREZOR_T'" mat-flat-button (click)="receive('TREZOR_T')">
  <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
  Continue to Connect Trezor
</button>