<table mat-table [dataSource]="data">

  <!-- Date Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element" style="width:170px"> {{element.timestamp}} </td>
  </ng-container>

  <!-- From Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Operation </th>
    <td mat-cell *matCellDef="let element"> {{element?.type?.operations[0]?.kind}} </td>
  </ng-container>

  <!-- To Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">
      <!-- <svg width="25" height="25" style="opacity:0.8;" identiconHash="{{element.type?.operations[0]?.destination.tz}}">
      </svg> -->
      {{element.type?.operations[0]?.destination.tz}}
    </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element?.type?.operations[0]?.amount}} </td>
  </ng-container>

  <!-- Fee Column -->
  <ng-container matColumnDef="fee">
    <th mat-header-cell *matHeaderCellDef> Fee </th>
    <td mat-cell *matCellDef="let element"> {{element?.type?.operations[0]?.fee}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10,20]" hidePageSize></mat-paginator>

<!-- {{dataSource[0]?.type?.operations[0]?.kind | json}}
{{dataSource[0]?.type?.operations[0]?.destination.tz | json}}
{{dataSource[0]?.type?.operations[0]?.amount | json}}
{{dataSource[0]?.type?.operations[0]?.fee | json}} -->