table {
    width: 100%;
}

.mat-cell {
    // opacity: 0.8;
}

// set white backgorund for list 
mat-card {
    background-color: whitesmoke !important;
}
table {
    background-color: whitesmoke !important;
}
mat-paginator {
    background-color: whitesmoke !important;
}

.mat-cell.cdk-column-date.mat-column-date {
    width: 155px;
}
.mat-cell.cdk-column-operation.mat-column-operation {
    width: 75px;
}
.mat-cell.cdk-column-address.mat-column-address  {
    width: 350px;
}
.mat-cell.cdk-column-amount.mat-column-amount {
    width: 135px;
    text-align: right;
}
.mat-header-cell.cdk-column-amount.mat-column-amount {
    text-align: right;
}