table {
    width: 100%;
}

.mat-row.failed .mat-cell{
    color: rgba(255,0,0,0.87);
}

.mat-row.failed .mat-cell > a{
    color: rgba(255,0,0,0.87) !important;
}

.mat-row.self .mat-cell{
    color: rgba(0,255,0,0.87);
}

// set white backgorund for list 
mat-card {
    background-color: whitesmoke !important;
}
table {
    background-color: whitesmoke !important;
}
mat-paginator {
    background-color: whitesmoke !important;
}

.mat-cell.cdk-column-date.mat-column-date {
    width: 155px;
}
.mat-cell.cdk-column-operation.mat-column-operation {
    width: 75px;
}
.mat-cell.cdk-column-address.mat-column-address  {
    width: 350px;
}
.mat-cell.cdk-column-fee.mat-column-fee  {
    width: 50px;
    text-align: center;
}
.mat-cell.cdk-column-burn.mat-column-burn  {
    width: 50px;
    text-align: center;
}
.mat-cell.cdk-column-amount.mat-column-amount {
    width: 125px;
    text-align: right;
}
.mat-header-cell.cdk-column-amount.mat-column-amount {
    text-align: right;
}