<table mat-table [dataSource]="data">

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element">
      <a *ngIf="!element.pending" externalLink href="{{tezosNode.nodes[tezosNode.api.name].tzstats.url}}{{element.hash}}" style="text-decoration:none;color: #000000" target="_blank">
        {{element.datetime}}
      </a>
      <span *ngIf="element.pending||element.pending===undefined">
        pending
      </span>
    </td>
  </ng-container>

  <!-- From Column -->
  <ng-container matColumnDef="operation">
    <th mat-header-cell *matHeaderCellDef> Operation </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- To Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">
      <span style="display: flex; align-items: center;">
        <svg width="25" height="25" style="opacity:0.8;" identiconHash="{{element.address}}">
        </svg>&nbsp;
        {{element.address}}
      </span>
    </td>
  </ng-container>

  <!-- Fee Column -->
  <ng-container matColumnDef="fee">
    <th mat-header-cell *matHeaderCellDef> Fee </th>
    <td mat-cell *matCellDef="let element"> {{element.fee * 0.00001 | number:'1.0-6' }}</td>
  </ng-container>

    <!-- Fee Column -->
    <ng-container matColumnDef="burn">
      <th mat-header-cell *matHeaderCellDef> Burn </th>
      <td mat-cell *matCellDef="let element"> {{element.burn * 0.00001 | number:'1.0-3' }}</td>
    </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount" stickyEnd>
    <th mat-header-cell *matHeaderCellDef> Amount (XTZ)</th>
    <td mat-cell *matCellDef="let element"> {{element.amount * 0.00001  | number:'1.2-6' }} 
      <span *ngIf="element.amount !== undefined">XTZ</span>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'failed': row.failed, 'self': row.circular}"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20]" hidePageSize></mat-paginator>