table {
    width: 100%;
}

.mat-cell.cdk-column-select.mat-column-select {
    width: 75px;
}

.mat-cell.cdk-column-address.mat-column-address {
    width: 375px;
}

.mat-cell.cdk-column-path.mat-column-path {
    width: 150px;
}

.mat-cell.cdk-column-contracts.mat-column-contracts {
    width: 80px;
}

.mat-cell.cdk-column-balance.mat-column-balance {
    width: 200px;
    text-align: right;
}

.mat-header-cell.cdk-column-balance.mat-column-balance {
    width: 200px;
    text-align: right;
}