<table mat-table [dataSource]="data">

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox *ngIf="true" color="primary" (change)="selectRow(row)" [disableRipple]="true"
        [checked]="isRowSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>


  <!-- To Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">
      <span style="display: flex; align-items: center;">
        <svg width="25" height="25" style="opacity:0.8;" identiconHash="{{element.address}}">
        </svg>&nbsp;
        {{element.address}}
      </span>
    </td>
  </ng-container>

  <!-- Path Column -->
  <ng-container matColumnDef="path">
    <th mat-header-cell *matHeaderCellDef> Path </th>
    <td mat-cell *matCellDef="let element"> {{element.path}}</td>
  </ng-container>


  <!-- Operations Column -->
  <ng-container matColumnDef="contracts">
    <th mat-header-cell *matHeaderCellDef> Contracts </th>
    <td mat-cell *matCellDef="let element"> {{element.contracts}} </td>
  </ng-container>

  <!-- Balance Column -->
  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef> Balance </th>
    <td mat-cell *matCellDef="let element">
      {{element.balance | number:'1.0-6' }}
      <span *ngIf="element.balance"> XTZ</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20]" hidePageSize></mat-paginator>

<br />
<br />