<div class="tezos-trezor-passpharse" *ngIf="tezosTrezorConnect?.passphrase?.type==''">

  <div class="tezos-stepper-card">
    <div class="tezos-stepper-card-row">

      <img src="./assets/trezor_passphrase.svg" alt="Trezor Passphrase">

      <div class="tezos-stepper-card-column" style="padding:20px">

        <mat-card>
          <mat-card-header>
            <h2 class="mat-h1">
              Access passphrase protected wallet
            </h2>
          </mat-card-header>
          <mat-card-content style="padding:initial">
            <span> Please choose, where to enter your passphrase.</span>
            <span style="display:block;height:30px;opacity: 0.7;">
              The safest option to enter passphrase is your Trezor.
              In general, internet connected computers might vulnerable
              to malware attacks.
            </span>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="tezos-trezor-verify">
    <div class="tezos-trezor-verify-step">

      <img src="./assets/trezor_passphrase.svg" alt="Trezor Passphrase">

      <div class="tezos-trezor-verify-info">

        <mat-card class="tezos-trezor-verify-card">
          <mat-card-header>
            <h2 class="mat-h1">
              Access passphrase protected wallet
            </h2>
          </mat-card-header>
          <mat-card-content style="padding:initial">
            <span> Please choose, where to enter your passphrase.</span>
            <span style="display:block;height:30px;opacity: 0.7;">
              The safest option to enter passphrase is your Trezor.
              In general, internet connected computers might vulnerable
              to malware attacks.
            </span>
          </mat-card-content>
        </mat-card>

      </div>

    </div>

    <div class="tezos-stepper-next">
      Please chose place where to enter password
    </div>
  </div>

</div>

<div class="tezos-trezor-passpharse" *ngIf="tezosTrezorConnect?.passphrase?.type=='host'">

  <div class="tezos-trezor-verify">
    <div class="tezos-trezor-verify-step">

      <img src="./assets/trezor_passphrase.svg" alt="Trezor Passphrase">
      <div class="tezos-trezor-verify-info">

        <mat-card class="tezos-trezor-verify-card" style="height:210px">
          <mat-card-content>
            <span class="mat-body-1">

              <div class="tezos-trezor-passphrase" [formGroup]="tezosTrezorPassphraseForm" ngrxForm="tezos.tezosTrezorPassphrase">

                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput #password type="text" placeholder="Password" formControlName="password" />
                  <mat-error>
                    Please enter password
                  </mat-error>
                </mat-form-field>

                <br />

                <mat-form-field appearance="outline">
                  <mat-label>Repeat Password</mat-label>
                  <input matInput #repeatPassword type="text" placeholder="Repeat Password" formControlName="repeatPassword"
                    [errorStateMatcher]="passphraseErrorMatcher" />
                  <mat-error>
                    Please repeat password
                  </mat-error>
                </mat-form-field>

                <br />
                <br />

                <button mat-flat-button (click)="submitPassphrase()">
                  Submit
                </button>

                <br />

              </div>


            </span>
          </mat-card-content>
        </mat-card>

      </div>

    </div>

    <div class="tezos-stepper-next">
      Please type your passpharse on device
    </div>
  </div>


</div>

<div class="tezos-trezor-passpharse" *ngIf="tezosTrezorConnect?.passphrase?.type=='device'">

  <div class="tezos-trezor-verify">

    <div class="tezos-trezor-verify-step">

      <img src="./assets/trezor_passphrase.svg" alt="Trezor Passphrase">

      <div class="tezos-trezor-verify-info">

        <mat-card class="tezos-trezor-verify-card">
          <mat-card-content>

            <span class="mat-body-1">
              If user loose password there is no way to recover it and he will lose money

              There is also option where user do not enter any password
            </span>

          </mat-card-content>
        </mat-card>

      </div>

    </div>

    <div class="tezos-stepper-next">
      Please type your passpharse on device
    </div>
  </div>

</div>