<div class="create-account" [formGroup]="accountDetailForm">

  <mat-form-field>
    <input matInput #input4 placeholder="Name" formControlName="name" />
    <mat-hint align="end">{{input4.value?.length || 0}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput #input placeholder="From Address" formControlName="from" />
    <mat-hint align="end">{{input.value?.length || 0}}/36</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput #input2 placeholder="To Address" formControlName="to" [matAutocomplete]="auto" />
    <mat-hint align="end">{{input2.value?.length || 0}}/36</mat-hint>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let to of accountDetailTo | async" [value]="to.publicKeyHash">
        <small>{{ to.name }} | {{ to.balance * 0.01}} ꜩ</small>
        <!-- <small>{{ state.publicKeyHash }} | {{ state.balance }} ꜩ</small>  -->
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>


  <mat-form-field>
    <input matInput #input3 type="number" placeholder="Amount" formControlName="amount" />
    <mat-hint align="end">{{input3.value?.length || 0}}/8</mat-hint>
  </mat-form-field>

</div>
<br>

<button mat-raised-button color="warn" (click)="send()" [disabled]="!accountDetail.form?.to || !accountDetail.form?.amount ">
  Send ꜩ
</button>


