<app-tezos-wallet [address]="id">
</app-tezos-wallet>

<mat-tab-group>

  <mat-tab label="Transaction">
    <app-tezos-transaction [address]="id">
    </app-tezos-transaction>
  </mat-tab>

  <mat-tab label="Origination">
      <app-tezos-origination [address]="id" >
      </app-tezos-origination>
  </mat-tab>

  <mat-tab label="Delegation">
    <app-tezos-delegation [address]="id">
    </app-tezos-delegation>
  </mat-tab>
  
  <!-- <mat-tab label="Activation">
    <app-tezos-activation>
    </app-tezos-activation>
  </mat-tab> -->

</mat-tab-group>


<!-- <app-day-chart></app-day-chart> -->
<!-- <app-transaction></app-transaction> -->