<div class="tezos-origination" [formGroup]="tezosOriginationForm" ngrxForm="tezosOrigination">

    <mat-form-field>
      <input matInput #input1 placeholder="Name" formControlName="name" />
      <mat-hint align="end">{{input1.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
  
    <mat-form-field>
      <a target="_blank" href="http://tzscan.io/{{address}}">
        <input matInput #input2 placeholder="From" formControlName="from" />
      </a>
      <mat-hint align="end">{{input2.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput #input4 type="number" placeholder="Amount" formControlName="amount" />
      <mat-hint align="end">{{input4.value?.length || 0}}/8</mat-hint>
    </mat-form-field>
  
  </div>
  <br>
  
  <br/>
  
  <button *ngIf="tezosOrigination.secretKey" mat-raised-button color="warn" (click)="send('WEB')" [disabled]="!tezosOrigination.to || !tezosOrigination.amount ">
    Originate ꜩ
  </button>
  
  <button *ngIf="!tezosOrigination.secretKey" mat-raised-button color="warn" (click)="send('TREZOR_T')" [disabled]="!tezosOrigination.to || !tezosOrigination.amount ">
    Originate with Trezor(Connect) and Send ꜩ
  </button>
  