<div class="tezos-trezor-passpharse">
  <div class="tezos-stepper-card"  style="padding: 0px !important;">
    <div class="tezos-stepper-card-row">

      <mat-card>
        <mat-card-header>
          <h2 class="mat-h1" style="font-size: 20px;">
            Warning
          </h2>
        </mat-card-header>
        <mat-card-content style="padding:initial">

          <span style="display: block;margin: 20px 0px 5px 0px;font-weight: 500; text-align: left;">
            Warning message
            <br/>
            <span style="font-weight: 400;">
              Warning message detail<br/> 
              Warning message detail<br/>
              Warning message detail<br/>
            </span>
          </span>

        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>