<div class="tezos-wallet-dialog" style="padding: 0px !important;min-width: 450px;">

  <mat-card class="tezos-wallet-dialog-warning" style="border: 1px solid red;border-radius: 5px;">
    <mat-card-header style="display: flex;align-items: center;justify-content: center;height: 65px;">
      <h2 class="mat-h1" style="font-size: 20px;color: red;">
        <svg-icon icon="warning" scale="1.1" style="vertical-align: 0.05em !important;"></svg-icon>&nbsp;
        {{ tezosWalletDialog.headline }}
      </h2>
    </mat-card-header>
    <mat-card-content style="padding:initial">

      <span style="display: block;margin: 20px 0px 5px 0px;font-weight: 500; text-align: center;">
        <span style="font-weight: 400;">

          <span *ngFor="let content of tezosWalletDialog.content">
            <ul *ngFor="let error of content" style="text-align: left;list-style-type: none;">
              <li *ngFor="let line of error">
                <span style="font-weight: 500;">{{line.name}}</span>: {{line.value}}
              </li>
            </ul>
          </span>

        </span>

        <br />
        <br />

        <button class="tezos-wallet-dialog" mat-flat-button (click)="closeDialog()">
          <svg-icon icon="ok" scale="1.2"></svg-icon>&nbsp;
          Done&nbsp;&nbsp;&nbsp;
        </button>

        <br />

      </span>

    </mat-card-content>
  </mat-card>

</div>