.sidenav-area {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  
    .mat-toolbar {
      flex: 0;
    }
  
    .mat-sidenav-container {
      flex: 1;
    }
  
    .sidenav-content {
      padding: 24px;
      padding-top: 16px;
    }
  
    .filler-content {
      flex: auto;
    }
  }

  .toolbar {
    padding: 0px;
  
    .toolbar-icon {
      padding: 0 14px;
    }
  
    .fill-remaining {
      flex: 1 1 auto;
    }
  
  }
  
  md-sidenav {
    width: 200px;
  }


  .mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 0px;
  }

  .mat-progress-bar {
    height: 3px !important;
    position: fixed !important;
  }

  /* menu */

.mat-nav-list .mat-list-item {
  font-size: 14px;
  opacity: 0.9;
}

.mat-nav-list .mat-list-item {
  height: 44px !important;
}