<div class="sidenav-area">
  <!-- Header -->
  <div class="toolbar">
    <mat-toolbar color="primary" *ngIf="showHeader && !coverHeader">
      <button mat-icon-button>
        <mat-icon (click)="start.toggle()">menu</mat-icon>
      </button>
      <span> simplestaking.com</span>
      <span class="filler-content"></span>

      <mat-icon 
        *ngIf="app.node.isConnected"
        matTooltip="Client is connected to node! {{app.node.timestamp}}"
        matTooltipPosition="left"
        >done</mat-icon>

      <mat-icon color="warn"
        *ngIf="!app.node.isConnected" 
        matTooltip="Node is out of sync! {{app.node.timestamp}}"
        matTooltipPosition="left" >error</mat-icon>

      <mat-icon color="accent"
        *ngIf="!app.node.isUpdated" 
        matTooltip="Client is disconected from node! {{app.node.timestamp}}"
        matTooltipPosition="left" >warning</mat-icon>

    </mat-toolbar>
  </div>

  <!-- Sidebar -->
  <mat-sidenav-container>
    <mat-sidenav #start mode="side" opened="true" [fixedInViewport]="fixed" [fixedTopGap]="fixedTop" [fixedBottomGap]="fixedBottom">
      <mat-nav-list>
        <a mat-list-item routerLink="/balance">Balance</a>
        <a mat-list-item routerLink="/accounts">Accounts</a>
        <a mat-list-item routerLink="/transactions">Transactions</a>
        <!-- <a mat-list-item routerLink="/settings">Settings</a>  -->
      </mat-nav-list>

    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
      <mat-toolbar *ngIf="showHeader && coverHeader">Header</mat-toolbar>
      <div class="sidenav-content">


        <router-outlet></router-outlet>

      </div>
      <mat-toolbar *ngIf="showFooter && coverHeader">Footer</mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar *ngIf="showFooter && !coverHeader">Footer</mat-toolbar>
</div>