.sidenav-area {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  
    .mat-toolbar {
      flex: 0;
    }
  
    .mat-sidenav-container {
      flex: 1;
    }
  
    .sidenav-content {
      padding: 24px;
      padding-top: 16px;
    }
  
    .filler-content {
      flex: auto;
    }
  }

  .toolbar {
    padding: 0px;
  
    .toolbar-icon {
      padding: 0 14px;
    }
  
    .fill-remaining {
      flex: 1 1 auto;
    }
  
  }
  
  // mat-sidenav {
  //   // width: 100px;
  // }

  .mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 0px;
  }

  .mat-progress-bar {
    height: 3px !important;
    position: fixed !important;
  }

  /* menu */

.mat-nav-list .mat-list-item {
  font-size: 14px;
}

.mat-nav-list .mat-list-item {
  height: 44px !important;
}

.mat-list-item-content fa-icon {
  font-size: 16px;
}

// menu hover 
// mat-nav-list a.mat-list-item:hover {
//   // font-weight: 500;
// }

mat-nav-list a.mat-list-item:hover fa-icon:not(:hover) {
  color:#2c71f4;
}

mat-nav-list a.mat-list-item:hover svg:hover  {
  fill:#2c71f4;
}


hr {
  display: block;
  height: 1px;
  border: 0px;
  background-color: #eaeaea;
  margin: 16px;
}


// stepper

//mat-horizontal-stepper-content

// center addres table and next button
.stepper .center-content {
	display: flex;
  flex-direction: column;
  width: 100%;
}

.stepper .center-content-medium {
	display: flex;
  flex-direction: column;
  width: 60%;
  margin:0 auto !important;
}

.stepper .center-content-next {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stepper ::ng-deep .mat-horizontal-content-container {
  padding: 0px !important; 
}

.mat-card-info-content {
  background-color:whitesmoke; 
  width:604px;
}

.step-content-header-text {
  padding: 10px 0;
  text-align: center; 
  font-size: 1.4em;
}


// colors

.smoked-backgroud {
  background-color: whitesmoke;
}

// flex info

.flex-info-pannel {
  border: solid 1px whitesmoke; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-info-box {
  padding: 10px;
}

.mnemonic-flex-box {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-content: space-around;
	height: 300px;
}

.mnemonic-flex-item {
	width: 30%;
	height: 55px;
}