<div class="sidenav-area">

  <!-- Header -->
  <div class="toolbar">

    <!-- Progress bar -->
    <mat-progress-bar *ngIf="app.progressbar.isVisible" mode="indeterminate">
    </mat-progress-bar>

    <mat-toolbar *ngIf="showHeader && !coverHeader">
      <button mat-icon-button *ngIf="app.sidenav.toggleButton.isVisible">
        <!-- TODO: use reducer instead of local variable -->
        <mat-icon (click)="start.toggle()">menu</mat-icon>
      </button>
      <span *ngIf="app.logo.isVisible" matTooltip="Client is connected to node! {{app.node.timestamp}}"
        matTooltipPosition="left" style="margin-left:10px">
        simplestaking.com</span>

      <!-- 
      <mat-icon 
        *ngIf="app.node.isConnected"
        matTooltip="Client is connected to node! {{app.node.timestamp}}"
        matTooltipPosition="left">wifi</mat-icon> -->

      <!-- <mat-icon color="warn" *ngIf="!app.node.isConnected" matTooltip="Node is out of sync! {{app.node.timestamp}}" matTooltipPosition="left">cloud_off</mat-icon>

      <mat-icon color="accent" *ngIf="!app.node.isUpdated" matTooltip="Client is disconected from node! {{app.node.timestamp}}"
        matTooltipPosition="left">warning</mat-icon> -->

      <!-- create space -->

      <span class="filler-content"></span>

      <!-- <app-auth></app-auth> -->

      <!-- tezos node switcher -->

      <!-- <app-tezos-node>
      </app-tezos-node> -->

      <!-- <button *ngIf="!app.user.uid" mat-button routerLink="/login-via-file">
        Sign in via file
      </button> -->

      <!-- <button *ngIf="!app.user.uid" mat-button routerLink="/login">
        Sign in
      </button>

      <button *ngIf="app.user.uid" mat-button>
        {{app.user.email}}
      </button>

      <button *ngIf="app.user.uid" mat-button (click)="signOut()">
        Sign out
      </button> -->


    </mat-toolbar>
  </div>

  <!-- Sidebar -->
  <mat-sidenav-container>
    <mat-sidenav #start mode="side" style="background-color: whitesmoke;padding:10px" [opened]="app.sidenav.isVisible"
      [fixedInViewport]="fixed" [fixedTopGap]="fixedTop" [fixedBottomGap]="fixedBottom">
      <mat-nav-list>

        <!-- <span class="mat-body-2" style="padding-left:16px">General</span> -->
        <!-- <br /> -->
        <a mat-list-item routerLink="/tezos/wallet">
          <!-- <mat-icon>dashboard</mat-icon> -->
          Dashboard
        </a>
        
        <br />
        <!-- <span class="mat-body-2" style="padding-left:16px">Wallet</span> -->

        <a mat-list-item routerLink="/tezos/wallet/send">
          <!-- <mat-icon>vertical_align_bottom</mat-icon> -->
          Send funds
        </a>
        <a mat-list-item routerLink="/tezos/wallet/receive">Receive funds</a>
        <a mat-list-item routerLink="/tezos/wallet/delegate">Delegate funds</a>
        <a mat-list-item routerLink="/tezos/wallet/originate">Originate</a>

        <!-- <br/>
        <span class="mat-body-1">Network</span> -->

        <br />
        <a mat-list-item routerLink="/tezos/wallet">New wallet</a>
       
        <!-- <a mat-list-item routerLink="/transactions">Transactions</a> -->
        <!-- <a mat-list-item routerLink="/delegates">Explorer</a>
        <a mat-list-item routerLink="/trezor">Trezor</a> -->
        <!-- <a mat-list-item routerLink="/settings">Settings</a>  -->
      </mat-nav-list>

    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
      <mat-toolbar *ngIf="showHeader && coverHeader">Header</mat-toolbar>
      <div class="sidenav-content">


        <router-outlet></router-outlet>

      </div>
      <mat-toolbar *ngIf="showFooter && coverHeader">Footer</mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar *ngIf="showFooter && !coverHeader">Footer</mat-toolbar>
</div>