<div class="sidenav-area">

  <!-- Header -->
  <div class="toolbar">

    <!-- <mat-toolbar style="position:absolute;background-color: white; display:flex; justify-content: center;align-items: flex-end;padding-bottom:10px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.09), 0 0px 0px 0 rgba(0, 0, 0, 0.09), 0 0px 0px 0 rgba(0, 0, 0, 0.09)">

      <span class="filler-content"></span>
      <h2 class="mat-h2" style="font-weight:300;font-size:16px;">
        Update SimpleStaking Wallet to the latest version &nbsp;
      </h2>
      <button mat-flat-button (click)="signOut()">
        Update
      </button>

    </mat-toolbar> -->

    <!-- Progress bar
    <mat-progress-bar *ngIf="app.progressbar.isVisible" mode="indeterminate">
    </mat-progress-bar> -->

    <mat-toolbar *ngIf="app.toolbar.isVisible" [style.background-color]="app.toolbar.color">
      <button mat-icon-button *ngIf="app.sidenav.toggleButton.isVisible">
        <!-- TODO: use reducer instead of local variable -->
        <mat-icon (click)="start.toggle()">menu</mat-icon>
      </button>
      <span *ngIf="app.logo.isVisible" style="margin: 40px 0px 0px 10px; font-weight: 300;font-size: 18px;display: flex;align-items: center;justify-content: center;">
        <img src="./assets/icon/logo/electron_black_beta.png" alt="" style="width:28px; margin: -8px 6px 0px 0px;">
        <span>
          Simple<span style="color:#000000">Staking </span>
        </span>
      </span>

      <mat-spinner [diameter]="20" [strokeWidth]="1" style="top:20px;left:10px;" *loadingSpinner></mat-spinner>

      <!-- matTooltip="Client is connected to node {{app.node.timestamp}}" matTooltipPosition="left" -->

      <!-- 
      <mat-icon 
        *ngIf="app.node.isConnected"
        matTooltip="Client is connected to node! {{app.node.timestamp}}"
        matTooltipPosition="left">wifi</mat-icon> -->

      <!-- <mat-icon color="warn" *ngIf="!app.node.isConnected" matTooltip="Node is out of sync! {{app.node.timestamp}}" matTooltipPosition="left">cloud_off</mat-icon>

      <mat-icon color="accent" *ngIf="!app.node.isUpdated" matTooltip="Client is disconected from node! {{app.node.timestamp}}"
        matTooltipPosition="left">warning</mat-icon> -->

      <!-- create space -->

      <span class="filler-content"></span>

      <!-- <app-auth></app-auth> -->

      <!-- tezos node switcher -->

      <!-- <app-tezos-node>
      </app-tezos-node> -->

      <!-- <button *ngIf="!app.user.uid" mat-button routerLink="/login-via-file">
        Sign in via file
      </button> -->

      <!-- <button *ngIf="!app.user.uid" mat-button routerLink="/login">
        Sign in
      </button>

      <button *ngIf="app.user.uid" mat-button>
        {{app.user.email}}
      </button>

      <button *ngIf="app.user.uid" mat-button (click)="signOut()">
        Sign out
      </button> -->

    </mat-toolbar>
  </div>

  <!-- Sidebar -->
  <mat-sidenav-container>
    <mat-sidenav #start mode="side" style="padding:10px" [style.background-color]="app.sidenav.color" [opened]="app.sidenav.isVisible"
      [fixedInViewport]="true" [fixedTopGap]="64" [fixedBottomGap]="0">
      <mat-nav-list>

        <a mat-list-item routerLink="/tezos/wallet">
          <svg-icon icon="dashboard"></svg-icon>&nbsp;
          Dashboard
        </a>

        <hr />

        <a mat-list-item routerLink="/tezos/wallet/send">
          <svg-icon icon="send"></svg-icon>&nbsp;
          Send funds
        </a>
        <a mat-list-item routerLink="/tezos/wallet/receive">
          <svg-icon icon="receive"></svg-icon>&nbsp;
          Receive funds
        </a>
        <a mat-list-item routerLink="/tezos/wallet/delegate">
          <svg-icon icon="delegate"></svg-icon>&nbsp;
          Delegate funds
        </a>

        <hr />

        <a mat-list-item routerLink="/tezos/wallet/new/trezor">
          <svg-icon icon="new"></svg-icon>&nbsp;
            New wallet
        </a>

        <a mat-list-item routerLink="/tezos/wallet/trezor/debug">
          Debug
        </a>

        <!-- <a mat-list-item routerLink="/settings">Settings</a>  -->
      </mat-nav-list>



    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content [style.background-color]="app.sidenav.color">
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
  <div class="app-version" class="mat-body" style="position: fixed;bottom: 10px;padding-left: 26px; z-index:1;opacity:0.1;font-size:10px;">
    {{electronVersion}}
  </div>


  <!-- <mat-toolbar class="app-status-bar">
  </mat-toolbar> -->

</div>