<div class="close">
  <button mat-button routerLink="/tezos/wallet">
    <mat-icon>close</mat-icon>
    Close
  </button>
</div>

<div class="stepper">


  <mat-card>
    <mat-card-content>

      <br />
      <mat-card-header>
        <h2 class="mat-h1 reset">
          Delegate funds
        </h2>
      </mat-card-header>
      <mat-horizontal-stepper [linear]="false" #matHorizontalStepper>

        <mat-step [editable]="false" optional="false" label="Preparation">
          <div>
            <app-tezos-operation-delegation>
            </app-tezos-operation-delegation>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Connect Trezor" *ngIf="tezosWalletDetail?.type==='TREZOR_T'">
          <div class="tezos-trezor-connect">

            <app-tezos-trezor-connect *ngIf="tezosWalletDelegateStepper==1">
            </app-tezos-trezor-connect>

            <button mat-flat-button matStepperNext *ngIf="tezosTrezorConnectConnected" (click)="tezosTrezorDelegateFunds()">
              <svg-icon icon="next"></svg-icon>&nbsp;
              Continue to Verification&nbsp;
            </button>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Verification" *ngIf="tezosWalletDetail?.type==='TREZOR_T'">
         
          <div class="tezos-trezor-verify">

            <!-- verify baker address  -->
            <div class="tezos-trezor-verify-step" *ngIf="tezosWalletDelegateDeviceButton == 0 || tezosWalletDelegateDeviceButton == 1">

              <img src="./assets/trezor_verify_detail.svg" alt="Trezor Verification">

              <div class="tezos-trezor-verify-info">

                <mat-card class="tezos-trezor-verify-card-short">
                  <mat-card-content>
                    <span class="mat-body-1">
                      Baker address
                    </span>
                    <span class="mat-body-1" class="tezos-verify-input">
                      {{tezosOperationDelegation.form.to}}
                    </span>
                    <br />
                  </mat-card-content>
                </mat-card>

                <div class="tezos-trezor-verify-warning">
                  As malware can replace address shown on computer, you should always check the authenticity of
                  receiving address when sending funds from Trezor
                </div>

              </div>

            </div>

            <!-- verify fee -->
            <div class="tezos-trezor-verify-step" *ngIf="tezosWalletDelegateDeviceButton == 2">

              <img src="./assets/trezor_confirm_transaction.svg" alt="Trezor Verification" />

              <div class="tezos-trezor-verify-info">

                <mat-card class="tezos-trezor-verify-card-short">
                  <mat-card-content>
                    <span class="mat-body-1">
                      Fee
                    </span>
                    <span class="mat-body-1" class="tezos-verify-input">
                      {{tezosOperationDelegation.form.fee}}
                    </span>
                    <br />
                  </mat-card-content>
                </mat-card>

                <div class="tezos-trezor-verify-warning">
                  As malware can replace address shown on computer, you should always check the authenticity of
                  receiving address when sending funds from Trezor
                </div>

              </div>

            </div>


          </div>

        </mat-step>

        <mat-step [editable]="false" optional="false" label="Confirmation">
          <div class="tezos-stepper-card">
            <div class="tezos-stepper-card-row">
              <div class="tezos-stepper-card-column">
                <mat-card>
                  <mat-card-header>
                    <h2 class="mat-h1">
                      Delegation sent
                    </h2>
                  </mat-card-header>
                  <!-- Progress bar -->
                  <!-- <mat-progress-bar mode="indeterminate" style="width:380px;margin-left:-30px">
                  </mat-progress-bar> -->
                  <mat-card-content>
                    <span class="mat-body-1">
                      The transaction has been signed and sent to the network.
                      Your wallet delegate will update once the blockchain has confirmed the transaction.
                      <br />
                      <span style="font-weight: 500">This typically take up to 1 minute.</span>
                    </span>
                    <br />
                    <br />
                    <br />
                    <span>

                      <button class="tezos-wallet-dialog" mat-flat-button (click)="redirectToWalletDetail()">
                        <svg-icon icon="ok" scale="1.2"></svg-icon>&nbsp;
                        Done&nbsp;&nbsp;&nbsp;
                      </button>

                      <a style="text-decoration: none;margin-left: 20px;" externalLink href="{{tezosNode.nodes[tezosNode.api.name].tzscan.url}}{{tezosOperationDelegation.form.from}}"
                        target="_blank">
                        <svg-icon icon="link"></svg-icon>&nbsp;
                        View in Explorer
                      </a>
                    </span>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>

</div>