<!-- <div class="close">
  <button mat-button routerLink="/tezos/wallet">
    <mat-icon>close</mat-icon>
    Close
  </button>
</div> -->

<div class="stepper">

  <mat-card>
    <mat-card-content>

      <br />
      <mat-card-header>
        <h2 class="mat-h1 reset">
          Delegate funds
        </h2>
      </mat-card-header>
      <mat-horizontal-stepper [linear]="false">

        <mat-step [editable]="false" optional="false" label="Preparattion">
          <div>
            <app-tezos-operation-delegation>
            </app-tezos-operation-delegation>
            
            <button mat-flat-button matStepperNext (click)="tezosTrezorFunds()">
              <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
              Continue &nbsp;
            </button>
          
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Connect Trezor">
          <div>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Verification">
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Confirmation">
          <div>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>

</div>