<div class="create-account" [formGroup]="accountForm">
  
    <mat-form-field>
      <input matInput #input placeholder="Name" formControlName="name" />
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Mnemonic" formControlName="mnemonic"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput #input placeholder="Passpharse" formControlName="passpharse" />
      <mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
    </mat-form-field>
    
  </div>
  
  <br>

  <button mat-raised-button color="primary" (click)="generateMnemonic()">
    Generate new mnemonic
  </button>
  <button mat-raised-button color="primary" (click)="generateKeys()" 
    [disabled]=!account.form.mnemonic>
    Generate keys
  </button>
  
  <br>
  <br>
  
  <button mat-raised-button color="warn" (click)="add()" 
    [disabled]="!account.keys.secretKey || !account.form.name">
    Create account
  </button>
  
  <br>
  <br>
  
  <div *ngIf=account.keys.secretKey>
    <span class="mat-body-1">
      <b>secretKey:</b> {{account.keys.secretKey}}
    </span>
    <br>
    <span class="mat-body-1">
      <b>publicKey:</b> {{account.keys.publicKey}}
    </span>
    <br>
    <span class="mat-body-1">
      <b>publicKeyHash:</b> {{account.keys.publicKeyHash }}
    </span>
    <br>
    <br>
    <!-- <span class="mat-body-1">
      ./alphanet.sh client add secret key '{{account.form.name}}' '{{account.keys.secretKey}}'
    </span> -->
  
  
  </div>
