<div class="chart">
  
    <ngx-charts-line-chart
      [results]="data"
      [scheme]="colorScheme"
      
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      
      [xAxisTickFormatting]="dateAxisTickFormatting"
      [yAxisTickFormatting]="amountAxisTickFormatting"
      
      [autoScale]="autoScale"
      [tooltipDisabled]="tooltipDisabled"
      [animations]="animations"
      >

    </ngx-charts-line-chart>

  </div>