.chart {
    display:flex;
    flex-direction: column;
}


::ng-deep .ngx-charts { 

    text {
        opacity: 0.5;
    }

    .line {
        // stroke: #6495ed;
        stroke-width: 2.5;
        // fill: url(#line-gradient);
        // stroke: url(#line-gradient);
        // stroke-width: 2px;
    }

    .axis path,
    .axis line {
        opacity: 0.8;
        stroke-dasharray: 5 5; 
        shape-rendering: crispEdges;
    }

    // set dotted grid lines 
    .gridline-path {
        stroke: #ddd;
        stroke-width: 1;
        fill: none;
    }

    // hide vertical grid lines 
    .gridline-path.gridline-path-vertical {
        display: none;
    }
    
    // set gradient under path opacity
    .area {
        opacity: 0.15 !important;
    }

    // set 
    .tooltip-anchor {
        stroke-width: 0.5;
        fill: #ddd;
    }
 
}

// chart tooltip style 
 ::ng-deep .ngx-charts-tooltip-content.type-tooltip {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: #000000 !important;
    background: #ffffff !important;
    transition: opacity 0.1s, transform 0.1s, -webkit-transform 0.1s !important;
    // transition: opacity 0s, transform 0s, -webkit-transform 0s !important;
    transform: translate3d(0, 15px, 0) !important;
    // -webkit-transition: none !important;
    // transform: none !important;
    // box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.09), 0 1px 1px 0 rgba(0, 0, 0, 0.09), 0 0px 0px 0 rgba(0, 0, 0, 0.09) !important;
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.09), 0 1px 0px 0 rgba(0, 0, 0, 0.09), 0 0px 0px 0 rgba(0, 0, 0, 0.09) !important;
}

