<div class="chart">
  
  <ngx-charts-line-chart-nav

    [results]="data"
    [scheme]="colorScheme"
    
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    
    [xAxisTickFormatting]="dateAxisTickFormatting" 
    [yAxisTickFormatting]="amountAxisTickFormatting"
    
    [autoScale]="autoScale"
    [tooltipDisabled]="tooltipDisabled"
    
    [animations]="animations"
    [gradient]="gradient"
    [roundDomains]="roundDomains"
    
    [legend]="legend"
    >
   
    <ng-template #seriesTooltipTemplate let-model="model">
      <pre>{{model[0].name}}</pre>
      <pre>{{model[0].value}}</pre>
    </ng-template>
  </ngx-charts-line-chart-nav>

</div>