<div class="chart">
  
  <ngx-charts-line-chart-nav

    [results]="data"
    [scheme]="colorScheme"
    
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    
    [yAxisTickFormatting]="amountAxisTickFormatting"
    
    [autoScale]="autoScale"
    [tooltipDisabled]="tooltipDisabled"
    
    [animations]="animations"
    [gradient]="gradient"
    [roundDomains]="roundDomains"
    
    [legend]="legend"

    >

  </ngx-charts-line-chart-nav>
  <!-- [xAxisTickFormatting]="dateAxisTickFormatting" -->

</div>