<div class="tezos-operation-transaction" [formGroup]="tezosOperationTransactionForm" ngrxForm="tezos.tezosOperationTransaction">

  <mat-form-field appearance="outline">

    <mat-label>From</mat-label>
    <mat-select placeholder="From" formControlName="from">
      <mat-option *ngFor="let from of tezosWalletListFrom | async" [value]="from.publicKeyHash">
        {{ from.name }} | {{ from.balance * 0.000001 | number:'1.0-6' }} ꜩ  
      </mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>To</mat-label>
    <input matInput #to placeholder="To" formControlName="to" [matAutocomplete]="auto" />
    <mat-hint align="end">{{to.value?.length || 0}}/36</mat-hint>

    <mat-autocomplete #auto="matAutocomplete" appearance="outline">
      <mat-option *ngFor="let to of tezosWalletList | async" [value]="to.publicKeyHash">
        <small>{{ to.name }} | {{ to.balance * 0.000001 | number:'1.0-6' }} ꜩ</small>
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Amount</mat-label>
    <input matInput #amount type="number" placeholder="Amount" formControlName="amount" />
    <mat-hint align="end">{{amount.value?.length || 0}}/8</mat-hint>

  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Fee</mat-label>
    <input matInput #fee type="number" placeholder="Fee" formControlName="fee" />
    <mat-hint align="end">{{fee.value?.length || 0}}/8</mat-hint>

  </mat-form-field>

</div>

<br />
<br />

<button *ngIf="tezosWalletDetail?.secretKey" mat-stroked-button (click)="send('WEB')" [disabled]="!tezosOperationTransaction?.to || !tezosOperationTransaction?.amount ">
  Send ꜩ
</button>

<button *ngIf="!tezosWalletDetail?.secretKey" mat-stroked-button (click)="send('TREZOR_T')" [disabled]="!tezosOperationTransaction?.to || !tezosOperationTransaction?.amount ">
  Sign with Trezor(Connect) and Send ꜩ
</button>