<div class="tezos-operation-transaction" [formGroup]="tezosOperationTransactionForm" ngrxForm="tezos.tezosOperationTransaction">

  <mat-form-field appearance="outline">

    <mat-label>From</mat-label>
    <mat-select placeholder="From" formControlName="from">

      <mat-select-trigger>
        <div class="tezos-wallet-list-option">
          <div class="tezos-wallet-list-option-left">
            <svg width="25" height="25" identiconHash="{{tezosWalletDetail?.publicKeyHash}}" class="tezos-wallet-list-option-identicon">
            </svg>
            <span class="tezos-wallet-list-option-name">
              {{ tezosWalletDetail?.name }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              {{ tezosWalletDetail?.publicKeyHash }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              <i>{{ tezosWalletDetail?.type }}</i>
            </span>
          </div>
          <span class="tezos-wallet-list-option-balance">
            {{ tezosWalletDetail?.balance * 0.000001 | number:'1.2-6' }} XTZ
          </span>
        </div>
      </mat-select-trigger>

      <mat-option *ngFor="let from of tezosWalletListFrom | async" [value]="from.publicKeyHash" #selected>
        <div class="tezos-wallet-list-option">
          <div class="tezos-wallet-list-option-left">
            <svg width="25" height="25" identiconHash="{{from.publicKeyHash}}" class="tezos-wallet-list-option-identicon">
            </svg>
            <span class="tezos-wallet-list-option-name">
              {{ from.name }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              {{ from.publicKeyHash }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              <i>{{ from.type }}</i>
            </span>
          </div>
          <span class="tezos-wallet-list-option-balance">
            {{ from.balance * 0.000001 | number:'1.2-6' }} XTZ
          </span>
        </div>
      </mat-option>

    </mat-select>
    <mat-error>
      Please choose address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>To</mat-label>
    <input matInput #to placeholder="To" formControlName="to" [matAutocomplete]="auto" />
    <mat-hint align="end">{{to.value?.length || 0}}/36</mat-hint>

    <mat-autocomplete #auto="matAutocomplete" appearance="outline">
      <mat-option *ngFor="let to of tezosWalletList | async" [value]="to.publicKeyHash">

        <div class="tezos-wallet-list-option">
          <div class="tezos-wallet-list-option-left">
            <svg width="25" height="25" identiconHash="{{to.publicKeyHash}}" class="tezos-wallet-list-option-identicon">
            </svg>
            <span class="tezos-wallet-list-option-name">
              {{ to.name }}
            </span>
            <span class="tezos-wallet-list-option-opacity">
              {{ to.publicKeyHash }}
            </span>
          </div>
          <span class="tezos-wallet-list-option-balance">
            {{ to.balance * 0.000001 | number:'1.2-6' }} XTZ
          </span>
        </div>
  
      </mat-option>
    </mat-autocomplete>
    <mat-error>
      Please enter valid address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Amount</mat-label>
    <input matInput #amount type="number" placeholder="Amount" formControlName="amount" />
    <mat-hint align="end">{{amount.value?.length || 0}}/8</mat-hint>
    <mat-error>
      Please enter amount
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Fee</mat-label>
    <input matInput #fee type="number" placeholder="Fee" formControlName="fee" />
    <mat-hint align="end">{{fee.value?.length || 0}}/8</mat-hint>
    <mat-error>
      Please enter fee
    </mat-error>
  </mat-form-field>

</div>

<br />
<br />

<button mat-flat-button (click)="send('WEB')" *ngIf="tezosWalletDetail?.type !== 'TREZOR_T'">
  <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
  Send funds
</button>

<button *ngIf="tezosWalletDetail?.type === 'TREZOR_T'" mat-flat-button (click)="send('TREZOR_T')">
  <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
  Continue to Connect Trezor
</button>

<br />