<div class="tezos-operation-transaction" [formGroup]="tezosOperationTransactionForm" ngrxForm="tezos.tezosOperationTransaction">

  <mat-form-field appearance="outline">

    <mat-label>From</mat-label>
    <mat-select placeholder="From" formControlName="from">

      <mat-option *ngFor="let from of tezosWalletListFrom | async" [value]="from.publicKeyHash">
        {{ from.name }} | {{ from.balance * 0.000001 | number:'1.0-6' }} ꜩ
      </mat-option>

    </mat-select>
    <mat-error>
      Please choose address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>To</mat-label>
    <input matInput #to placeholder="To" formControlName="to" [matAutocomplete]="auto" />
    <mat-hint align="end">{{to.value?.length || 0}}/36</mat-hint>

    <mat-autocomplete #auto="matAutocomplete" appearance="outline">
      <mat-option *ngFor="let to of tezosWalletList | async" [value]="to.publicKeyHash">
        <small>{{ to.name }} | {{ to.balance * 0.000001 | number:'1.0-6' }} ꜩ</small>
      </mat-option>
    </mat-autocomplete>
    <mat-error>
      Please enter valid address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Amount</mat-label>
    <input matInput #amount type="number" placeholder="Amount" formControlName="amount" />
    <mat-hint align="end">{{amount.value?.length || 0}}/8</mat-hint>
    <mat-error>
      Please enter amount
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Fee</mat-label>
    <input matInput #fee type="number" placeholder="Fee" formControlName="fee" />
    <mat-hint align="end">{{fee.value?.length || 0}}/8</mat-hint>
    <mat-error>
      Please enter fee
    </mat-error>
  </mat-form-field>

</div>

<br />
<br />

<button mat-flat-button (click)="send('WEB')" *ngIf="tezosWalletDetail?.type !== 'TREZOR_T'">
  <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
  Send funds
</button>

<button *ngIf="tezosWalletDetail?.type === 'TREZOR_T'" mat-flat-button (click)="send('TREZOR_T')">
  <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
  Continue to Connect Trezor
</button>

<br />