<!-- <div class="close">
  <button mat-button routerLink="/tezos/wallet">
    <mat-icon>close</mat-icon>
    Close
  </button>
</div> -->


<div class="stepper">

  <mat-card>
    <mat-card-content>

      <br/>
      <mat-card-header>
        <h2 class="mat-h1 reset">
          Receive funds
        </h2>
      </mat-card-header>
      <mat-horizontal-stepper [linear]="false">

        <mat-step [editable]="false" optional="false" label="Preparation">
          <div>
              <app-tezos-operation-receive>
              </app-tezos-operation-receive>

              <!-- <div class="tezos-wallet-receive" [formGroup]="tezosWalletReceiveForm" ngrxForm="tezos.tezosWalletReceive">
                <mat-form-field appearance="outline">
                  <mat-label>Select wallet to receive funds</mat-label>
                    <mat-select placeholder="Receive address" formControlName="receiveTo">
                      <mat-option *ngFor="let from of tezosWalletList | async" [value]="from.publicKeyHash">
                        {{ from.name }} | {{ from.balance * 0.000001 | number:'1.0-6' }} ꜩ
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </div> -->

              <br />

              <button mat-flat-button matStepperNext>
                <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
                Continue&nbsp;
              </button>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Connect Trezor">
          <div class="tezos-trezor-connect">
            <app-tezos-trezor-connect>
            </app-tezos-trezor-connect>

            <button mat-flat-button matStepperNext *ngIf="tezosTrezorConnectConnected">
              <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
              Continue to Select address&nbsp;
            </button>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Verification">
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Confirmation">
          <div>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>

</div>