<!-- <div class="close">
  <button mat-button routerLink="/tezos/wallet">
    <mat-icon>close</mat-icon>
    Close
  </button>
</div> -->


<div class="stepper">

  <mat-card>
    <mat-card-content>

      <br />
      <mat-card-header>
        <h2 class="mat-h1 reset">
          Receive funds
        </h2>
      </mat-card-header>
      <mat-horizontal-stepper [linear]="false" #matHorizontalStepper>

        <mat-step [editable]="false" optional="false" label="Preparation">
          <div>
            <app-tezos-operation-receive>
            </app-tezos-operation-receive>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Connect Trezor" *ngIf="tezosWalletDetail?.type==='TREZOR_T'">
          <div class="tezos-trezor-connect">

            <app-tezos-trezor-connect>
            </app-tezos-trezor-connect>

            <button mat-flat-button matStepperNext *ngIf="tezosTrezorConnectConnected" (click)="tezosTrezorReceiveFunds()">
              <fa-icon [icon]="['fal', 'arrow-right']"></fa-icon> &nbsp;
              Continue to Verification&nbsp;
            </button>
          </div>
        </mat-step>

        <mat-step [editable]="false" optional="false" label="Verification" *ngIf="tezosWalletDetail?.type==='TREZOR_T'">
          <div class="tezos-trezor-verify">

            <!-- verify amount & address -->
            <div class="tezos-trezor-verify-step" *ngIf="tezosTrezorConnectButton === tezosTrezorConnectButtonStart || tezosTrezorConnectButton === tezosTrezorConnectButtonStart + 1">

              <img src="./assets/trezor_verify_detail.svg" alt="Trezor Verification">

              <div class="tezos-trezor-verify-info">

                <mat-card class="tezos-trezor-verify-card-short">
                  <mat-card-content>

                    <span class="mat-body-1">
                      To (receiving address)
                    </span>
                    <span class="mat-body-1" class="tezos-verify-input">
                      {{tezosOperationReceive.form.to}}
                    </span>
                  </mat-card-content>
                </mat-card>

                <div class="tezos-trezor-verify-warning">
                  As malware can replace address shown on computer, you should always check the authenticity of
                  receiving address when sending funds from Trezor
                </div>

              </div>
            </div>

          </div>

        </mat-step>

        <mat-step [editable]="false" optional="false" label="Receive">
          <div class="tezos-stepper-card">
            <div class="tezos-stepper-card-row">
              <div class="tezos-stepper-card-column">

                <mat-card>
                  <mat-card-header>
                    <h2 class="mat-h1">
                      Verified
                    </h2>
                  </mat-card-header>
                  <mat-card-content style="padding:initial">
                    <span class="tezos-stepper-card-qrcode">
                      <qrcode [qrdata]="tezosOperationReceive?.form?.to" [size]="1" [level]="'M'" [usesvg]="true"></qrcode>
                    </span>
                    <span style="display:block;height:30px;opacity: 0.7;">
                      Address for account: <b>{{ tezosWalletDetail.name }}</b>
                    </span>
                    <span class="tezos-stepper-card-address" style="display:block;opacity: 0.7;">
                      {{tezosOperationReceive.form.to}}
                    </span>
                    <span>
                      <button mat-button color="primary" ngxClipboard [cbContent]="tezosOperationReceive.form.to" style="font-weight:300;margin-top:25px">
                        <fa-icon [icon]="['fal', 'clone']"></fa-icon>&nbsp;
                        Copy address
                      </button>
                    </span>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>

</div>