<div>
  <mat-table #table [dataSource]="transactions$">

    <!-- Timestamp Column -->
    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.timestamp | date:'dd.MM.yyyy'}}
      </mat-cell>
    </ng-container>


    <!-- From Column -->
    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.type.source}}
      </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.type.operations[0].amount | number:'1.0-6'}} ꜩ
      </mat-cell>
    </ng-container>

    <!-- Fee Column -->
    <ng-container matColumnDef="fee">
      <mat-header-cell *matHeaderCellDef> Fee </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.type.fee}}
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="['timestamp','from','amount','fee']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['timestamp','from','amount','fee'];"></mat-row>

  </mat-table>
</div>

<br/>

<button mat-raised-button (click)="getExternalTransactions()">
  External Transactions
</button>