.panel {
    display: flex;
    // margin-bottom: 10px;
    // margin-right: 5px;
    // padding-left: 12px;
    // padding-right: 12px;
}

.address {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    //padding-left: 20px;
}

.amount {
    display: flex;
    flex-direction: column;
    // font: 300 50px Roboto,"Helvetica Neue",sans-serif;
    //justify-content: space-between;
    justify-content: center;
    align-items: flex-end;
}

.reset {
    margin:0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

//TODO: move to separete component 
.filler-content {
    flex: auto;
}

.tezos-wallet {
    display: flex;
    margin-bottom: 10px;
}

.mat-stroked-button {
    border: 1.2px solid;
}

.wallet-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wallet-detail mat-card {
    min-width: 700px;
}
