<div class="wallet-detail">

  <mat-card>

    <mat-card-header>
      <h2 class="mat-h1 reset">
        Wallet detail {{tezosWalletDetail.name}}
      </h2>
    </mat-card-header>

    <br />
    <br />

    <div class="panel">
      <div class="address" style="margin-left:20px;">
        <span class="mat-h2 reset" style="opacity:0.85">
          {{tezosWalletDetail.publicKeyHash}}
        </span>
        <span class="mat-h2 reset" style="opacity:0.65;font-size: 14px;line-height: 20px;">
          wallet address
        </span>
      </div>

      <div class="amount" style="margin-right:20px;">
        <span class="mat-h2 reset" style="opacity:0.85">
          {{tezosWalletDetail.balance*0.000001 | number:'1.1'}} XTZ
        </span>
        <span class="mat-h1 reset" style="opacity:0.5;font-size: 14px;line-height: 20px;">
          {{(tezosWalletDetail.balance*0.000001 * tezosWalletDetail.price) | number:'1.1'}} USD
        </span>
      </div>
    </div>

    <br />
    <br />

    <mat-card-content>
      <app-chart-line-nav [data]="chartLineNavData">
      </app-chart-line-nav>
    </mat-card-content>

    <br />
    <br />

    <div class="panel">
      <div class="address" style="margin-left:20px;">
        <span class="mat-h2 reset" style="opacity:0.85">
          {{tezosWalletDetail?.delegate?.value}}
        </span>
        <span class="mat-h2 reset" style="opacity:0.65;font-size: 14px;line-height: 20px;">
          wallet delegate
        </span>
      </div>

      <div class="amount" style="margin-right:20px;">
        <span class="mat-h2 reset" style="opacity:0.85">
          {{tezosWalletDetail?.delegate?.setable}}
        </span>
        <span class="mat-h1 reset" style="opacity:0.5;font-size: 14px;line-height: 20px;">
          delegatable
        </span>
      </div>
    </div>

  </mat-card>

  <mat-card>

    <!-- <mat-card-header>
      <h2 class="mat-h1 reset">
        Transaction history
      </h2>
    </mat-card-header> -->

    <mat-card-content>
      <app-tezos-operation-history>
      </app-tezos-operation-history>

    </mat-card-content>
  </mat-card>
</div>