.wallet-detail {
    margin-top: -25px;
}

.panel {
    display: flex;
    padding-bottom: 5px;
    margin-top: 10px; 
    border-bottom: 1px #d7d7d7 solid
}

.address {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    //padding-left: 20px;
}

.amount {
    display: flex;
    flex-direction: column;
    // font: 300 50px Roboto,"Helvetica Neue",sans-serif;
    //justify-content: space-between;
    justify-content: center;
    align-items: flex-end;
}

.reset {
    margin:0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}
.mat-h1.reset {
    font: 300 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-h1.label {
    font: 400 14px Roboto, "Helvetica Neue", sans-serif;
    padding: 5px 0px 10px 0px !important;
    margin: 0px 0px 0px 0px !important; 
}

.mat-h2.label {
    font: 400 12px Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    opacity: 0.65
}

//TODO: move to separete component 
.filler-content {
    flex: auto;
}

.tezos-wallet {
    display: flex;
    margin-bottom: 10px;
}

.mat-stroked-button {
    border: 1.2px solid;
}

.wallet-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wallet-detail mat-card {
    min-width: 750px;
}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

// set white backgorund for list 
mat-card {
    background-color: whitesmoke !important;
}
table {
    background-color: whitesmoke !important;
}
mat-paginator {
    background-color: whitesmoke !important;
}