.panel {
    display: flex;
    margin-bottom: 40px;
}

.address {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.reset {
    margin:0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

//TODO: move to separete component 
.filler-content {
    flex: auto;
}

.tezos-wallet {
    display: flex;
    margin-bottom: 10px;
}

.mat-stroked-button {
    border: 1.2px solid;
}

.chart {
    display:flex;
    flex-direction: column;
}


::ng-deep .ngx-charts { 

    path { 
        stroke: #6495ed;
        stroke-width: 3;
    }

    .axis path,
    .axis line {
        opacity: 0.8;
        stroke-dasharray: 5 5; 
        shape-rendering: crispEdges;
    }

    text {
        opacity: 0.5;
    }
    
}