<!-- create panel and refactor -->
<!-- <div style="padding-bottom:10px;display: flex;">

  <span class="filler-content"></span>

  <app-tezos-node>
  </app-tezos-node>

</div> -->

<!-- 
<div style="padding:10px;display: flex;">

  <button mat-button>
    USD
  </button>

  <span class="filler-content"></span>

  <button mat-button>
    Day
  </button>

  <button mat-button>
    Month
  </button>

  <button mat-button>
    Year
  </button>

</div> -->

<mat-card>
  <mat-card-content>
    <div class="panel">

      <!-- <svg width="70" height="70" style="opacity:0.5;display:flex;margin-right:10px" identiconHash="{{tezosWalletDetail.publicKeyHash}}">
        Fallback text for browsers not supporting inline svg
      </svg> -->

      <div class="address">

        <span class="mat-h1 reset">
          {{tezosWalletDetail.publicKeyHash}}
        </span>
        <span class="mat-h1 reset" style="opacity:0.65;font-size: 14px;">
          {{tezosWalletDetail.name}}
        </span>

      </div>



      <div class="amount">

        <span class="reset" style="opacity:0.85">
          XTZ {{tezosWalletDetail.balance*0.000001 | number:'1.0-6'}}
          <!-- &nbsp;ꜩ -->
        </span>
        <!-- 
        <span class="mat-h1 reset" style="opacity:0.5;font-size: 14px;">
          {{tezosWalletDetail.balance*tezosWalletDetail.price*0.000001 | number:'1.0-6'}}&nbsp;$
        </span> -->

      </div>

    </div>

  </mat-card-content>
</mat-card>

<br />

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span class="mat-h1 reset">
        USD 56,000
      </span>
    </mat-card-title>
    <mat-card-subtitle>total balance</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <!-- <br /> -->
    <!-- <br/>
    <br/> -->

    <app-chart-line-nav>
    </app-chart-line-nav>

  </mat-card-content>
</mat-card>
<br />

<mat-card>
  <mat-card-content>

    <app-tezos-operation-history>
    </app-tezos-operation-history>

  </mat-card-content>
</mat-card>

<br />

<mat-card>
  <mat-card-content>

    <mat-tab-group>

      <mat-tab label="Transaction">
        <app-tezos-operation-transaction>
        </app-tezos-operation-transaction>
      </mat-tab>

      <mat-tab label="Origination">
        <app-tezos-operation-origination>
        </app-tezos-operation-origination>
      </mat-tab>

      <mat-tab label="Delegation">
        <app-tezos-operation-delegation>
        </app-tezos-operation-delegation>
      </mat-tab>

      <!-- <mat-tab label="Activation">
        <app-tezos-operation-activation>
        </app-tezos-operation-activation>
      </mat-tab> -->

    </mat-tab-group>

  </mat-card-content>

</mat-card>