.panel {
    display: flex;
    margin-bottom: 40px;
}

.address {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.reset {
    margin:0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

//TODO: move to separete component 
.filler-content {
    flex: auto;
}

.tezos-wallet {
    display: flex;
    margin-bottom: 10px;
}

.mat-stroked-button {
    border: 1.2px solid;
}

