<div class="create-account">

  <mat-form-field>
    <textarea matInput placeholder="Mnemonic"></textarea>
  </mat-form-field>
    
  <mat-form-field hintLabel="Max 32 characters">
    <input matInput #input maxlength="32" placeholder="Passphrase">
    <mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
  </mat-form-field>


  <br>
  <br>
  
</div>

<button mat-raised-button color="primary" (click)="generateMnemonic()">Generate new mnemonic</button>
<button mat-raised-button color="primary" (click)="generateKeys()">Generate keys</button>
<br>
<br>
<button mat-raised-button color="warn" (click)="create()" disabled>Create account</button>

