<button mat-raised-button color="warn" routerLink="/accounts/new">
  New account
</button>

<br>
<br>

<div class="mat-elevation-z1">
  <mat-table #table [dataSource]="accountTableDataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- <a routerLink="/account/{{element.address}}">{{element.name}}</a> -->
        {{element.name}}
      </mat-cell>
    </ng-container>

    <!-- Address Column -->
    <!-- <ng-container matColumnDef="publicKeyHash">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let element"><a routerLink="/account/{{element.address}}">{{element.publicKeyHash}}</a></mat-cell>
    </ng-container> -->

    <!-- Balance Column -->
    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.balance}} ꜩ</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name','balance']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name','balance'];"></mat-row>

  </mat-table>
</div>