<button mat-flat-button (click)="initTrezor()">
  Init Trezor
</button>

<br/>
<br/>
<br/>


<button mat-flat-button (click)="removeTrezor()">
    Remove Trezor
</button>

<br/>
<br/>
<br/>

<button mat-flat-button (click)="getTezosAddress()">
  Get Address
</button>


<br/>
<br/>
<br/>

<button mat-flat-button (click)="getTezosAddressBundle()">
  Get Address Bundle
</button>

<br/>
<br/>
<br/>

<button mat-flat-button (click)="tezosSingTransaction()">
  Sign Tranasction
</button>

<br/>
<br/>
<br/>

<button mat-flat-button (click)="tezosSendTransaction()">
  Send Tranasction 
</button>

<br/>
<br/>
<br/>

<button mat-flat-button (click)="tezosGetHead()">
  Get Head 
</button>

<br/>
<br/>
<br/>

<button mat-flat-button (click)="getErrorDialog()">
  Error dialog
</button>

<br/>
<br/>
<br/>

<button mat-flat-button (click)="getInfoDialog()">
  Info dialog
</button>

<br/>
<br/>
<br/>

<button mat-flat-button (click)="activateWallet()">
  Activate wallet
</button>



<br/>
<br/>
<br/>

<button mat-flat-button (click)="sendTransactionToSmartContract()">
  Send params wallet
</button>


<br/>
<br/>
<br/>

<button mat-flat-button (click)="getHistoricalData()">
  Get Historical data
</button>

<br/>
<br/>
<br/>

<button mat-flat-button (click)="deleteHistory()">
  Delete local history
</button>

